html {

}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  word-wrap: break-word;
  overflow-wrap: break-word;

  &.body--fixed {
    position: fixed;
    overflow: hidden;
  }
}