h1 {
  
}

h2 {
  font-size: 30px;
  font-weight: 400;
  line-height: 1.2;
  margin-bottom: 24px;
}

h3 {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2;
  margin-bottom: 24px;
}

h4 {
  font-size: 16px;
  line-height: 1.2;
  font-weight: 500;
}

h5 {
  
}

h6 {
  
}

p {
  font-size: 14px;
  line-height: 1.57;
  margin-bottom: 22px;
  
  &.p--sm {
    font-size: 12px;
    
    .text-md {
      font-size: 14px;
    }
  }
}

.font-weight-medium {
  font-weight: 500;
}

ul {
  
  li {
    font-size: 14px;
    line-height: 1.57;
  }
}

ol {
  
  li {
    font-size: 14px;
    line-height: 1.57;
  }
}

table {
  
}

tr {
  
}

th {
  
}

td {
  
}

a {
  
}

input {
  
  &:focus {
    outline: none;
  }
}

textarea {
  
  &:focus {
    outline: none;
  }
}

select {
  
}

button {
  cursor: pointer;
  padding: 0;
  border: 0;
  
  &:focus {
    outline: none;
  }
}

input[type="submit"] {
  cursor: pointer;
  border: 0;
}

img {
  
}