.denial {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 0;

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__back {
    position: relative;
    margin-bottom: 50px;
    border-radius: 50px;
    background: $primary;
    display: flex;
    align-items: center;
    font-size: 12px;
    color: #fff;
    padding: 2px 8px 4px 20px;

    &:hover {
      color: #fff;
      background-color: #0253b7;
    }

    &:before {
      content: '';
      position: absolute;
      top: 50%;
      left: 7px;
      margin-top: 1px;
      transform: translateY(-50%);
      width: 6px;
      height: 10px;
      background: url(../img/arrow--left.svg) no-repeat;
      background-size: contain;
      flex-shrink: 0;
    }
  }
}
