.group {
  display: flex;
  flex-direction: column;
  height: calc(100% - 28px);
  margin-bottom: 28px;
  padding: 24px 21px 19px 26px;
  background-color: #f9f9f9;
  border-radius: 5px;

  @include media-breakpoint-down(md) {
    padding: 15px;
  }

  &__header {
    display: flex;
    margin-bottom: 19px;

    h4 {
      min-width: 1px;
      margin-bottom: 0;
      font-size: 20px;
      line-height: 24px;
      color: #000;

      @include media-breakpoint-down(xs) {
        font-size: 18px;
        line-height: 22px;
      }
    }
  }

  &__picture {
    width: 106px;
    height: 92px;
    margin-right: 40px;
    flex: 0 0 auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 5px;

    @include media-breakpoint-down(md) {
      margin-right: 20px;
    }

    @include media-breakpoint-down(xs) {
      margin-right: 10px;
      width: 60px;
      height: 60px;
    }
  }

  &__subheader {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 20px;

    @include media-breakpoint-down(md) {
      flex-direction: column;
    }

    @include media-breakpoint-down(sm) {
      flex-direction: row;
    }

    @include media-breakpoint-down(xs) {
      flex-direction: column;
      margin-bottom: 10px;
    }
  }

  &__tags {
    min-width: 1px;
  }

  .tag:last-child {
    margin-right: 0;
  }

  &__stats {
    display: flex;
    flex: 0 0 auto;
    margin-right: 20px;
    padding-top: 3px;

    @include media-breakpoint-down(md) {
      padding-top: 0;
      margin-bottom: 20px;
    }

    @include media-breakpoint-down(sm) {
      padding-top: 3px;
      margin-bottom: 0;
    }

    @include media-breakpoint-down(xs) {
      padding-top: 0;
      margin-bottom: 15px;
      margin-right: 0;
    }

    &-item {
      position: relative;
      padding-left: 28px;
      margin-right: 20px;
      font-size: 14px;
      line-height: 16px;
      color: #053A7B;

      &:last-child {
        margin-right: 0;
      }

      &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
      }

      &--people {

        &::before {
          width: 18px;
          height: 18px;
          background-image: url(../img/user-icon.svg);
        }
      }

      &--posts {

        &::before {
          width: 21px;
          height: 20px;
          background-image: url(../img/notifications.svg);
        }
      }
    }
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    @include media-breakpoint-down(xs) {
      flex-direction: column;
    }

    .btn {
      flex: 0 0 auto;
      padding: 10px 70px;
      font-weight: 400;
      line-height: 14px;

      @include media-breakpoint-down(lg) {
        padding-left: 30px;
        padding-right: 30px;
      }

      @include media-breakpoint-down(md) {
        padding-left: 20px;
        padding-right: 20px;
      }

      @include media-breakpoint-down(xs) {
        width: 100%;
      }
    }
  }

  &__footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 15px;
    flex: 1 1 auto;

    @include media-breakpoint-down(xs) {
      flex-direction: column;
    }

    p {
      margin: 0;
      line-height: 17px;
    }
  }

  &__time {
    color: #000;
    white-space: nowrap;
  }

  &__moderator {
    width: 50%;
    margin-right: 10px;
    margin-bottom: 5px;
    font-size: 12px;
    line-height: 14px;

    @include media-breakpoint-down(md) {
      width: 100%;
      margin-right: 0;
    }

  }

  &__leader {
    flex: 0 0 auto;
    align-self: flex-end;
    color: #053A7B;
    font-size: 12px;
    line-height: 17px;
    margin-bottom: 15px;

    @include media-breakpoint-down(xs) {
      width: 100%;
      flex: 1 1 auto;
      align-self: flex-start;
    }
  }

  &__producer {
    display: flex;
    margin-right: 20px;

    @include media-breakpoint-down(xs) {
      margin-bottom: 15px;
    }

    &-photo {
      width: 38px;
      height: 38px;
      flex: 0 0 auto;
      margin-right: 13px;
      border-radius: 5px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }

    &-info {
      min-width: 1px;

      p {
        line-height: 17px;
      }
    }
  }

  &__documents {

    p {

      .text-secondary {
        margin-left: 5px;
      }
    }
  }
}
