mixin group(modifier)
  .group&attributes(attributes)
    .group__header
      .group__picture(style="background-image: url(./img/group-1.jpg);")
      h4 Викторианцы в технологиях познания искуственного интелекта
    .group__subheader
      .group__stats
        .group__stats-item.group__stats-item--people 3 500 чел.
        .group__stats-item.group__stats-item--posts 250 постов
      .group__tags
        +tag('Медицина', '')(class="tag--gray")
        +tag('Технологии', '')(class="tag--gray")
        +tag('Интернет', '')(class="tag--gray")
    .group__footer
      .group__footer-content
        .group__moderator Модератор:
          span.text-primary  Виктор Александров
        .d-flex
          p.p--sm.text-dark.mb-0.mr-5 Последнее сообщение:
            span.group__time  Сегодня в 14:10
      if modifier == 'group--profile'
        .group__leader Вы: Руководитель проекта
    if modifier == 'group--profile'
      .group__documents
        p.mb-20 Документы
          span.text-secondary 5
        +document('Сертификат 2.pdf')
        +document('Наименование документа в одну две строки с расширением.doc')
      p.mb-0
        a.text-secondary(href="#") Все документы >
    if modifier == 'group--profile'
    else
      .group__footer
        .group__producer
          .group__producer-photo(style="background-image: url(./img/producer-1.jpg);")
          div.group__producer-info
            p.p--sm.text-dark.mb-0 Продюсер экспертной группы:
            p.p--sm.text-primary.mb-0 Андрей Пивоваренко-Старший
        a.btn.btn-primary(href="#") Подать заявку