/* Bootstrap */

.form-group {
  margin-bottom: 30px;
}

.btn {
  border-radius: 5px;
  font-size: 14px;
  padding: 14.1px 46.2px 16.1px;
  white-space: normal;

  @include media-breakpoint-down(sm) {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 13px;
  }

  &.btn-primary {
    font-weight: 700;

    &.btn-sm {
      padding-left: 40px;
      padding-right: 40px;
    }
  }

  &.btn-secondary {
    background: #E2F5FC;
    color: $dark;
    border: 0;
    padding: 2.6px 13.52px;
  }

  &.btn-outline-primary {
    border-color: #e5e5e5;
    font-weight: 400;
  }

  &--pink {
    background-color: #E23291;

    &:hover,
    &:active {
      background-color: #d42382 !important;
      border-color: #d42382 !important;
    }
  }

  &.btn-sm {
    padding: 10.23px 30px 12.23px;
  }
}

.alert {
  font-family: 'Arial', 'Tahoma', sans-serif;
}


.custom-checkbox, .custom-radio {
  padding-left: 43px;
  margin-bottom: 18px;

  .custom-control-input {

    &:focus {

      & ~ .custom-control-label {

        &:before, &:after {
          box-shadow: none;
        }
      }
    }

    &:checked {

      & ~ .custom-control-label {

        &:after {
          background: $primary url(../img/check.svg) no-repeat center;
        }
      }
    }
  }

  .custom-control-label {
    color: $gray-600;
    font-size: 16px;
    font-weight: 500;

    &:before {
      width: 24px;
      height: 24px;
      border: 1px solid #ebebeb;
      border-radius: 0;
      background: transparent;
      border-radius: 5px;
      margin-top: -4px;
      left: -43px;
    }

    &:after {
      width: 25px;
      height: 25px;
      border-radius: 5px;
      margin-top: -4px;
      left: -43px;
    }
  }

  &--date {

    .custom-control-input {

      &:checked {

        & ~ .custom-control-label {

          &:after {
            background: $primary url(../img/check.svg) no-repeat center;
          }

          .form__item {
            opacity: 1;
          }
        }
      }
    }

    .custom-control-label {

      &:before, &:after {
        top: 50%;
        margin-top: -12px;
      }

      .form__item {
        opacity: .4;
      }
    }
  }
  
  &--single {
    width: 25px;
    height: 25px;
    margin-bottom: 0;
    padding-left: 0;

    .custom-control-label {
      color: $gray-600;
      font-size: 16px;
      font-weight: 500;

      &:before, &:after {
        margin-top: 0;
        left: auto;
        top: 0;
      }
    }
  }
}


.custom-file {
  width: auto;

  .custom-file-input {
    width: auto;
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .custom-file-label {
    border-radius: 5px;
    padding: 9px 28px 12px;
    background: transparent;
    border: 1px solid #e5e5e5;
    font-size: 14px;
    color: $dark;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: static;

    &:after {
      display: none;
    }
  }

  &--outline {

    .custom-file-label {
      color: $primary;
    }
  }

  &--secondary {
    height: auto;

    .custom-file-label {
      color: $dark;
      background: #E2F5FC;
      border: 0;
      padding: 2.6px 10px;
      height: auto;
    }
  }

  &--document {
    height: auto;

    .custom-file-label {
      width: 140px;
      height: 200px;
      background: #e5e5e5;
      border: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      padding: 12px 14px;
    }
  }
}

.invalid-feedback {
  position: absolute;
  top: 100%;
  left: 0;
  font-size: 14px;
  line-height: 17px;
}

.was-validated {

  .form__item--invalid {
    border-color: $danger;
  }
}





/* Datepicker */

div.ui-datepicker {
  padding: 0;
  border: 0!important;
  margin-top: 10px;
  background: #fff;
  width: 345px;
  border-radius: 5px;
  z-index: 6!important;
  font-family: $font-family-sans-serif;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
  z-index: 99999!important;

  @include media-breakpoint-down(sm) {
    margin-left: 0;
    left: 50%!important;
    margin-left: -172.5px!important;
  }

  .ui-datepicker-header {
    background: #fff;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border: 0;
  }

  .ui-datepicker-title {
    color: #252627;
    font-size: 13px;
    font-weight: 700;
    line-height: 1.54;
    text-transform: uppercase;
  }

  .ui-datepicker-prev {
    background: url(../img/arrow.svg) no-repeat;
    background-size: contain;
    width: 7px;
    height: 10px;
    cursor: pointer;
    transform: rotate(180deg);
    left: 30px;
    top: 50%;
    margin-top: -5px;

    &:hover {
      border: 0;
    }
  }

  .ui-datepicker-next {
    background: url(../img/arrow.svg) no-repeat;
    background-size: contain;
    width: 7px;
    height: 10px;
    cursor: pointer;
    right: 30px;
    top: 50%;
    margin-top: -5px;

    &:hover {
      border: 0;
    }
  }

  .ui-datepicker-calendar {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 20px;

    tr {

    }

    th {
      font-size: 10px;
      font-weight: 900;
      line-height: .88;
      letter-spacing: .9px;
      color: #5c626b;
      text-transform: uppercase;
      height: 60px;
      border-bottom: 1px solid fade($primary, 20%);
      padding-top: 10px;
      padding-bottom: 20px;

      &.ui-datepicker-week-end {
        color: #ff2d2d;
      }
    }

    td {
      width: 35px!important;
      height: 40px;
    }
  }

  .ui-state-default {
    font-size: 12px;
    font-weight: 500;
    color: #252627;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: transparent;
    text-align: center;
    border: 0;
    padding: 0;
    line-height: 30px;
    margin: 0 auto;
  }

  .ui-state-active {
    background: $primary;
  }

  .ui-datepicker-today {

    .ui-state-default {
      background: #eaeaea;
    }
  }

  .selected {
    position: relative;

    .ui-state-default {
      background: $primary;
      color: #fff;
    }
  }

  .ui-icon {
    background: transparent!important;
  }

  .ui-datepicker-week-end {

    .ui-state-default {
      color: #ff2d2d;
    }

    &.selected {

      .ui-state-default {
        color: #fff;
      }
    }
  }

  .ui-datepicker-buttonpane {

    button {
      width: auto!important;
      padding: 0 10px!important;
    }
  }

  .ui-datepicker-month {
    height: 30px;
    width: 100px;
    font-size: 14px;
    font-family: $font-family-sans-serif;
    border-color: #eaeaea;
    border-radius: 4px;
  }

  .ui-datepicker-year {
    height: 30px;
    width: 100px;
    line-height: 30px;
    display: inline-flex;
    align-items: center;
    font-size: 14px;
    font-family: $font-family-sans-serif;
    margin-left: 5px;
    border-color: #eaeaea;
    border-radius: 4px;
  }

  .ui-datepicker-button {
    width: 130px;
    height: 40px;
    background: #fff;
    border: 1px solid #565656;
    border-radius: 5px;
    margin: 15px auto 10px;
    display: block;
    @include transition;
    cursor: pointer;

    &:hover {
      background: $black;
      color: #fff;
    }
  }
}



/* Select2 */

.select2 {
  position: relative;
//  z-index: 1052;

  @include media-breakpoint-down(sm) {
    min-width: 100%;
  }

  .select2-selection {
    border: 0;
    height: 68px;
    border-radius: 0;
    background: transparent;

    &:focus {
      outline: none;
    }

    .select2-selection__rendered {
      display: flex;
      align-items: center;
      height: 68px;
      padding-right: 35px;
      padding-left: 15px;
      padding-top: 20px;
      width: calc(100% - 1px);
      text-overflow: ellipsis;
      overflow: hidden;
      color: $gray-600;
      font-size: 16px;

      @include media-breakpoint-down(sm) {
        padding-left: 15px;
      }

      &:focus {
        outline: none;
      }
    }

    .select2-selection__arrow {
      width: 12px;
      height: 7px;
      background: url(../img/arrow--down.svg) no-repeat center;
      background-size: 12px 7px;
      background-color: #fff;
      right: 1px;
      top: 1px;
      bottom: 1px;
      width: 35px;
      height: auto;
      border-radius: 5px;

      b {
        display: none;
      }
    }
  }
}

.select--simple {
  height: 38px!important;
  border-radius: 0;
  background: transparent;
  max-width: 100%;
  position: relative;
  min-width: 224px;

  &:focus {
    outline: none;
  }

  .select2-selection__rendered {
    display: flex;
    align-items: center;
    height: 38px!important;
    width: 100% !important;
    padding-left: 15px;
    padding-top: 0!important;
    border: 1px solid #e5e5e5;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    color: $gray-600;
    font-size: 16px;
    border-radius: 5px;

    @include media-breakpoint-down(sm) {
      padding-left: 15px;
    }

    &:focus {
      outline: none;
    }
  }

  .select2-selection__arrow {
    b {
      display: none;
    }
  }
}

.select--list {
  height: auto!important;
  border-radius: 0;
  background: transparent;
  max-width: 100%;
  position: relative;
  min-width: 0;
//  margin-bottom: 4px!important;

  &:focus {
    outline: none;
  }

  .select2-selection__rendered {
    display: flex;
    align-items: center;
    height: auto!important;
    padding-left: 0!important;
    padding-top: 0!important;
    border: 0!important;
    width: auto!important;
    text-overflow: ellipsis;
    overflow: hidden;
    color: $primary!important;
    font-size: 16px;
    border-radius: 5px;

    @include media-breakpoint-down(sm) {
      padding-left: 15px;
    }

    &:focus {
      outline: none;
    }
  }

  .select2-selection__arrow {
    width: 12px;
    height: 7px;
    background: url(../img/arrow--down-branded.svg) no-repeat center!important;
    background-size: contain;
    right: 10px!important;
    top: 50%;
    margin-top: -2px!important;

    b {
      display: none;
    }
  }
}

.select2-dropdown {
  padding: 10px 0;
  border: 0;
  border-radius: 3px!important;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.15);
  position: relative;

  &:before {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    transform: rotate(45deg);
    right: 27px;
    top: -5px;
    background: #fff;
    position: absolute;
  }

  @include media-breakpoint-down(sm) {
    z-index: 1055;
    box-shadow: none;
    border: 1px solid #e1e1e1;
    border-top: 1px solid #e1e1e1!important;
  }

  .select2-results__option {
//    display: flex;
//    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 15px;
    line-height: 1.2;
    height: auto;
    padding-top: 11.2px;
    padding-bottom: 11.2px;
    background: #fdfdfd;
    @include transition;

    &:hover {
      color: #bfbfbf!important;
    }

    @include media-breakpoint-down(sm) {
      padding-left: 15px;
    }

    &--highlighted {
      background: #fff;
      color: #010101;
    }

    &[aria-selected] {
      background: #fff;
      color: #010101;
    }
  }
}

.select2-results__group {
  padding-left: 15px!important;
  
  & + .select2-results__options {
    padding-left: 10px;
  }
}

.select__dropdown--list {

  .select2-results {

  }

  .select2-results__options {

  }

  .select2-results__option {
    color: $primary!important;
    font-size: 16px;
    white-space: nowrap;
  }
}

.select2-container--open {

  .select2-selection__rendered {

    &:after {
      transform: rotate(180deg);
    }
  }
}

//.select2-search {
//  position: absolute;
//  top: -35px;
//  left: 1px;
//  padding: 0;
//  width: calc(100% - 30px);
//  border-radius: 3px;
//
//  .select2-search__field {
//    border: 0!important;
//    padding-left: 15px;
//    border-radius: 3px;
//  }
//}


.select__search--new {

  .select2-search {
    position: absolute;
    top: -38px;
    left: 1px;
    padding: 0;
    width: calc(100% - 30px);
    border-radius: 3px;

    .select2-search__field {
      border: 0!important;
      padding-left: 15px;
      border-radius: 3px;
    }
  }
}

.select__dropdown--common {
  z-index: 1053;

  &--new {
    position: absolute!important;
  }
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
  background: url(../img/close.svg) no-repeat;
  background-size: contain;
  background-position: center;
  width: 5px;
  height: 5px;
  font-size: 0;
  margin-right: 5px;
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered .select2-search--inline {
  display: none;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
  border-color: #aaa;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
  display: flex;
  align-items: center;
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered {
//  overflow: auto!important;
  position: relative;
  
  .ps__rail-x {
    bottom: 0!important;
    top: auto!important;
    height: 3px!important;
    
    .ps__thumb-x {
      height: 3px!important;
      cursor: pointer!important;
    }
  }
}

.select2-results__options {
  &[aria-multiselectable=true] {

    .select2-results__option {
      display: flex;
      align-items: center;
      &[aria-selected=true]:before {
        display: block;
        width: 15px;
        height: 15px;
        background: url(../img/check--dark.svg) no-repeat;
        background-size: contain;
      }

      &:before {
        content: '';
        display: block;
        width: 15px;
        height: 15px;
        border: 1px solid #000;
        margin-right: 8px;
      }
    }
  }
}



//perfect-scroll
.ps__rail-y {
  margin-left: 1px;
  width: 1px !important;
  background: #C4C4C4!important;
  opacity: 1!important;
  margin-top: 25px;

  &:hover {
    
    > .ps__thumb-y {
      width: 1px !important;
    }
  }
}

.ps__thumb-y {
  width: 1px;
  background: $primary;
  opacity: 1!important;
  right: 0;
}


.ps__rail-x {
  top: 0px!important;
  height: 1px!important;
  background: #C4C4C4!important;
  opacity: 1!important;
//  margin-left: 36%;

  &:hover {
    
    > .ps__thumb-x {
      height: 1px !important;
    }
  }
}

.ps__thumb-x {
  height: 1px!important;
  background: $primary;
  opacity: 1!important;
  top: 0;
}