mixin pagination(modifier)
  .pagination&attributes(attributes)
    a.pagination__item(href="#") 1
    a.pagination__item(href="#") 2
    a.pagination__item(href="#") 3
    a.pagination__item(href="#") ...
    a.pagination__item(href="#") 5