.pagination {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 40px;

  &__item {
    display: block;
    flex: 0 0 auto;
    font-size: 14px;
    line-height: 17px;
    margin-left: 6px;
    margin-right: 6px;
    padding: 8px 14px 11px;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    transition: background-color .15s;

    &:hover {
      background-color: #f5f5f5;
    }
  }
}
