include ../blocks/header/header.pug
include ../blocks/logo/logo.pug
include ../blocks/menu/menu.pug
include ../blocks/breadcrumbs/breadcrumbs.pug
include ../blocks/form/form.pug
include ../blocks/aside/aside.pug
include ../blocks/select/select.pug
include ../blocks/footer/footer.pug
include ../blocks/user/user.pug
include ../blocks/profile/profile.pug
include ../blocks/socials/socials.pug
include ../blocks/group/group.pug
include ../blocks/pagination/pagination.pug
include ../blocks/task/task.pug
include ../blocks/chart/chart.pug
include ../blocks/search/search.pug
include ../blocks/tag/tag.pug
include ../blocks/group/group.pug
include ../blocks/comment/comment.pug
include ../blocks/participant/participant.pug
include ../blocks/document/document.pug
include ../blocks/group-task/group-task.pug
include ../blocks/response/response.pug
include ../blocks/quiz/quiz.pug
include ../blocks/event-short/event-short.pug
include ../blocks/article/article.pug
include ../blocks/map/map.pug
include ../blocks/denial/denial.pug
include ../blocks/wrapper/wrapper.pug
include ../blocks/link/link.pug
include ../blocks/associated-event/associated-event.pug
include ../blocks/event/event.pug
include ../blocks/region/region.pug
include ../blocks/front/front.pug
include ../blocks/why/why.pug
include ../blocks/opportunities/opportunities.pug
include ../blocks/join/join.pug
include ../blocks/role/role.pug
include ../blocks/actions/actions.pug
