doctype html
html(lang='ru')
  include ../templates/head.pug
  include ../templates/blocks.pug
  
  body
    +header
    .wrapper
      block content
    +footer
    script(src="js/scripts.js?version=1")