.role {
  padding: 45px 40px 40px 35px;
  background: #fff;
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  position: absolute;
  z-index: 2;
  width: calc(100% - 90px);
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: none;
  
  &__header {
    display: flex;
    align-items: center;
    margin-bottom: 55px;
  }
  
  &__title {
    width: 100%;
    max-width: 33.8%;
  }
  
  &__header-content {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-grow: 1;
  }
  
  &__header-btn {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    border-color: $primary!important;
    
    &--cancel {
      background: #81ADE3;
      color: #fff;
    }
  }
  
  &__footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 35px;
  }
  
  &__footer-btn {
    padding-left: 80px;
    padding-right: 80px;
  }
  
  &__close {
    width: 11px;
    height: 11px;
    background: url(../img/close.svg) no-repeat;
    background-size: contain;
    position: absolute;
    top: 15px;
    right: 15px;
  }
}