mixin role(modifier)
  .role&attributes(attributes)
    a.role__close(href="#")
    form.form.role__form(action="", method="POST")
      .role__header
        h2.role__title.mb-0 Назначить роль
        .role__header-content
          .row.w-100.align-items-stretch
            .col-lg-6
              .form__item.form-group.mb-0
                // Для дефолтного состояния нужно убрать класс .select--disabled, атрибут disabled у .select__input, а также .form__label--active у .form__label.
                .select.select--primary.js-role-select
                  select.select__input.select__input--multiple(multiple)
                    option(label=" ")
                    option(data-role="roleProducer") Продюсер
                    option(data-role="roleModerator") Модератор
                    option(data-role="roleChief") Руководитель проекта
                    option(data-role="roleExpert") Эксперт
                    option(data-role="roleLeadExpert") Ведущий эксперт
                    option(data-role="roleCounselor") Член Экспертного совета
                p.text-dark.form__label Выберите роль
            .col-lg-6.d-flex
              // Дефолтное состояние — без .role__header-btn-cancel.
              a.btn.btn-outline-primary.role__header-btn.role__header-btn--cancel(href="#") Отменить создание роли
      .role__content
        +actions
      .role__footer
        p.mb-0.mr-25 Выбрана роль: 
          span.font-weight-bold.role__selected-list Эксперт
        button.btn.btn-primary.role__footer-btn(type="submit") Назначить роль