.breadcrumbs {
  display: inline-flex;
  flex-wrap: wrap;
  position: relative;
  margin-top: 24px;
  margin-bottom: 17px;
  z-index: 0;

  &:before {
    content: '';
    display: block;
    width: calc(100% - 10px);
    height: 1px;
    background: #e5e5e5;
    position: absolute;
    top: 10px;

    @include media-breakpoint-down(sm) {
      display: none;
    }
  }

  &__item {
    background: $primary;
    color: #fff;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 50px;
    padding: 1.41px 12.5px;
    font-size: 12px;
    line-height: 1;
    position: relative;
    z-index: 1;

    &:hover {
      color: #fff;
      background-color: #0253b7;
    }

    &--back {
      padding: 0;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background: $primary url(../img/arrow--left.svg) no-repeat left 5px center;
    }

    &--current {
      background-color: #e5e5e5;
      color: $gray-600;

      &:hover {
        color: $gray-600;
        background-color: #e5e5e5;
      }
    }
  }
}
