mixin breadcrumbs(link1, link2, modifier)
  .breadcrumbs&attributes(attributes)
    a.breadcrumbs__item.breadcrumbs__item--back(href="#")
    a.breadcrumbs__item(href="#") Главная
    if link1 != ''
      a.breadcrumbs__item(href="#")= link1
    span.breadcrumbs__item.breadcrumbs__item--current= link2