mixin event-short(picture, title, tag1, tag2, modifier)
  a.event-short(href="#")&attributes(attributes)
    .event-short__picture(style="background-image: url(./img/" + picture + ");")
    .event-short__content
      .event-short__content-top
        p.mb-5.font-weight-medium.text-muted= title
        .d-flex.flex-wrap
          .event-short__tag= tag1
          if tag2 != ''
            .event-short__tag= tag2
      .event-short__info 14/11/2018 г. Москва, Экспоцентр