.event-short {
  display: flex;

  @include media-breakpoint-down(sm) {
    margin-bottom: 20px;
  }

  &__picture {
    width: 82px;
    height: 90px;
    flex: 0 0 auto;
    margin-right: 18px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  &__content {
    min-width: 1px;
    display: flex;
    flex-direction: column;

    &-top {
      flex: 1 0 auto;
      p {
        font-weight: 500;
        line-height: 17px;
      }
    }
  }

  &__tag {
    margin-right: 8px;
    margin-bottom: 8px;
    padding: 5px 6px;
    font-size: 12px;
    line-height: 14px;
    background-color: #e5e5e5;
    color: #5b5b5b;
  }

  &__info {
    flex: 0 0 auto;
    color: #c4c4c4;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
  }
}
