.opportunities {
  margin-bottom: 64px;

  @include media-breakpoint-down(xs) {
    margin-bottom: 30px;
    padding-top: 40px;
  }

  &__content {
    border: 1px solid #e5e5e5;
    background: url(../img/opportunities-bg.svg) no-repeat right bottom;
    padding: 55px 60px;

    @include media-breakpoint-down(md) {
      padding: 35px 40px;
      background-size: 50% auto;
    }

    @include media-breakpoint-down(sm) {
      padding: 25px 30px;
    }

    @include media-breakpoint-down(xs) {
      padding: 20px 0 0;
      background: none;
      border: none;
    }
  }

  &__list {
    list-style: none;
    padding: 0;
    max-width: 60%;

    @include media-breakpoint-down(xs) {
      max-width: 100%;
    }
  }

  &__item {
    position: relative;
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 20px;
    padding-left: 40px;
    color: #000;

    @include media-breakpoint-down(sm) {
      margin-bottom: 15px;
    }

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 2px;
      width: 24px;
      height: 21px;
      background: url(../img/checkbox.svg) no-repeat center;
      background-size: contain;
    }
  }
}
