mixin opportunities(modifier)
  .opportunities&attributes(attributes)
    .container
      .row
        .col-12
          .opportunities__content
            h2.mb-25.mb-md-40.text-primary Какие возможности дает статус эксперта ИРИ?
            ul.opportunities__list
              li.opportunities__item Участие в проектах ИРИ и экспертизе продуктов ИРИ
              li.opportunities__item Экспертиза по ключевым направлениям развития ИТ в России
              li.opportunities__item Участие в работе Центра компетенций по направлениям И+
              li.opportunities__item Собственные инициативы и проекты экспертов
              li.opportunities__item Участие в отраслевых (интернет) и профильных (И+) мероприятиях
              li.opportunities__item Участие в проекте «Лучшие эксперты ИРИ» (рейтинг, книга, премия)
              li.opportunities__item Указание статуса «Эксперт ИРИ» при внешних коммуникациях, подтвержденный в краудсорсинг-платформе И+