.associated-event {
  display: block;
  padding-right: 20px;
  margin-bottom: 24px;

  @include media-breakpoint-down(xs) {
    padding-right: 0;
  }

  &__picture {
    display: block;
    width: 70px;
    height: 70px;
    flex: 0 0 auto;
    margin-right: 30px;
    border-radius: 5px;
    background-size: cover;
  }

  p {
    line-height: 17px;
  }

  &__info {
    font-size: 11px;
    line-height: 17px;
    color: #787878;
  }
}
