mixin associated-event(modifier)
  a.associated-event(href="#")&attributes(attributes)
    .d-flex.mb-15
      .associated-event__picture(style="background-image: url(./img/associated-event.jpg);")
      p.mb-0 Наименование мероприятия в несколько строк можно максимум в три
    .associated-event__info 1 июня 2018, <br> 01:00 Санкт-Петербург, Тучков переулок, д. 9...