.profile {

  &__header {
    display: flex;
    margin-bottom: 30px;

    @include media-breakpoint-down(sm) {
      flex-direction: column;
    }

    @include media-breakpoint-down(xs) {
      margin-bottom: 20px;
    }

    &-left {
      display: flex;
      flex: 1 1 auto;
      min-width: 1px;
      margin-right: 20px;

      @include media-breakpoint-down(sm) {
        margin-right: 0;
      }
    }

    &-content {
      padding-top: 12px;
      flex: 1 1 auto;

      @include media-breakpoint-down(md) {
        padding-top: 0;
      }

      h2 {
        color: #000;
        margin-bottom: 18px;

        @include media-breakpoint-down(md) {
          font-size: 26px;
        }

        @include media-breakpoint-down(sm) {
          font-size: 22px;
          margin-bottom: 13px;
        }

        @include media-breakpoint-down(xs) {
          font-size: 18px;
          margin-bottom: 12px;
        }
      }

      h3 {
        margin-bottom: 13px;

        @include media-breakpoint-down(md) {
          font-size: 18px;
        }

        @include media-breakpoint-down(sm) {
          font-size: 16px;
        }

        @include media-breakpoint-down(xs) {
          font-size: 14px;
        }
      }

      &-bottom {

        p {
          line-height: 17px;
        }

        a {
          margin-right: 25px;

          @include media-breakpoint-down(xs) {
            display: block;
            margin-right: 0;
            padding-bottom: 7px;
          }
        }
      }
    }

    &-right {
      display: flex;
      flex: 0 0 auto;
      padding-bottom: 8px;
      align-self: flex-end;
      align-items: center;

      @include media-breakpoint-down(md) {
        padding-bottom: 0;
      }

      @include media-breakpoint-down(sm) {
        flex: 1 1 auto;
        align-self: flex-start;
        padding-left: 100px;
        margin-top: 20px;
      }

      @include media-breakpoint-down(xs) {
        padding-left: 55px;
        margin-top: 10px;
      }
    }
  }

  &__userpic {
    flex: 0 0 auto;
    width: 154px;
    height: 154px;
    margin-right: 47px;
    border-radius: 5px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @include media-breakpoint-down(md) {
      width: 120px;
      height: 120px;
      margin-right: 30px;
    }

    @include media-breakpoint-down(sm) {
      width: 80px;
      height: 80px;
      margin-right: 20px;
    }

    @include media-breakpoint-down(xs) {
      width: 40px;
      height: 40px;
      margin-right: 15px;
    }
  }

  &__field {
    padding: 11px 20px 12px;
    margin-right: 32px;
    font-size: 15px;
    line-height: 18px;
    color: #5B5B5B;
    background-color: #e5e5e5;

    @include media-breakpoint-down(sm) {
      padding: 7px 15px 8px;
      margin-right: 20px;
    }

    @include media-breakpoint-down(xs) {
      padding: 6px 12px 7px;
      margin-right: 15px;
      font-size: 13px;
      line-height: 16px;
    }
  }
}
