.article {

  &__content {
    background: $light;
    padding: 25px;
    border-radius: 5px;
  }

  &__header {
    display: flex;

    @include media-breakpoint-down(sm) {
      flex-direction: column;
    }
  }

  &__picture {
    background-size: cover;
    background-position: center;
    border-radius: 5px;
    width: 106px;
    height: 92px;
    margin-right: 40px;
    flex-shrink: 0;

    @include media-breakpoint-down(md) {
      margin-bottom: 20px;
    }

    &--big {
      width: 100%;
      height: 160px;
      max-width: 370px;
      margin-right: 0;
    }
  }

  &__info {
    border-radius: 5px;
    border: 1px solid #D5E2F3;
    width: 100%;
    padding: 25px;
    max-width: 270px;

    @include media-breakpoint-down(md) {
      margin-bottom: 40px;
    }

    @include media-breakpoint-down(sm) {
      max-width: none;
    }
  }

  &__info-price {
    display: flex;
    align-items: baseline;
  }

  &__info-price-content {
    font-size: 24px;
    color: $primary;
    font-weight: 500;
    margin-right: 12px;
  }

  &__info-dates {
    display: flex;

    &:before {
      content: '';
      display: block;
      width: 24px;
      height: 18px;
      background: url(../img/calendar--gray.svg) no-repeat;
      background-size: contain;
      margin-right: 15px;
      flex-shrink: 0;
      margin-top: 2px;
    }
  }

  &__gallery {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -6px;
  }

  &__gallery-item {
    width: 108px;
    height: 108px;
    background-color: rgba(188, 217, 252, 0.357641);
    background-size: cover;
    background-position: center;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 6px 10px;

    @include media-breakpoint-down(lg) {
      height: 90px;
    }

    @include media-breakpoint-down(sm) {
      margin-bottom: 12px;
      width: 108px;
      height: 108px;
    }
  }

  &__participants {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: $primary;

    &:before {
      content: '';
      display: block;
      width: 18px;
      height: 18px;
      background: url(../img/participant.svg) no-repeat;
      background-size: contain;
      margin-right: 11px;
      flex-shrink: 0;
    }
  }

  &__logo {
    width: 100%;
    height: auto;
    max-width: 230px;
    margin-bottom: 15px;
  }
}