.quiz {
  display: flex;
  padding: 25px 40px 35px;
  margin-bottom: 25px;
  border: 1px solid #D5E2F3;
  border-radius: 5px;

  @include media-breakpoint-down(md) {
    padding: 20px;
  }

  @include media-breakpoint-down(xs) {
    padding: 10px;
    flex-direction: column;
  }

  &__left {
    flex: 1 1 auto;
    margin-right: 20px;
  }

  &__right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    flex: 0 0 auto;

    @include media-breakpoint-down(xs) {
      flex-direction: row;
      margin-top: 25px;
    }

    .tag {
      margin-right: 0;
      line-height: 17px;
      padding: 1px 8px 2px;
    }
  }

  h3 {
    color: #000;
  }

  .p--sm {
    margin: 0;
  }

  .btn {
    padding: 9px 44px 10px;
    line-height: 17px;

    @include media-breakpoint-down(xs) {
      padding: 9px 20px 10px;
    }
  }

}
