mixin quiz(modifier)
  .quiz&attributes(attributes)
    .quiz__left
      h3.mb-15 Опрос в области интернета вещей еще строка к заголовку
      p.mb-25.text-muted ИРИ осуществляет сбор и обработку статистической и аналитической информации, а также проводит анализ трендов ...
      .d-flex
        p.p--sm.text-dark.mb-0.mr-5 Автор:
        p.p--sm.text-primary Виктор Александров
      .d-flex
        p.p--sm.text-dark.mb-0.mr-5 Окончание приема голосов: 
        p.p--sm.text-primary 14.10.2018
    .quiz__right
      +tag('Исседование', '')(class="tag--gray")
      a.btn.btn-outline-primary(href="#") Пройти опрос