.socials {
  display: flex;

  &__item {
    display: block;
    flex: 0 0 auto;
    width: 26px;
    height: 26px;
    margin-left: 12px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
    transition: background-color .15s;

    &:first-child {
      margin-left: 0;
    }

    &--fb {
      background-color: #3B5998;
      background-image: url(../img/fb-icon.svg);
      background-size: 8px 17px;

      &:hover {
        background-color: #3F5FA3;
      }
    }

    &--tw {
      background-color: #55ACEE;
      background-image: url(../img/tw-icon.svg);
      background-size: 16px 13px;

      &:hover {
        background-color: #69B5EE;
      }
    }
  }
}
