mixin participant(photo, name, company, occupation, btn, modifier)
  .participant&attributes(attributes)
    .participant__top
      a.participant__photo(href="#", style="background-image: url(./img/" + photo + ");")
      p.mb-0.text-center.my-15
        a(href="#")= name
      if modifier == 'participant--extended' || 'participant--extended participant--invitable'
        if company != ''
          p.p--sm.text-center.mb-10= company
        if occupation != ''
          p.p--sm.text-center.text-dark.mb-0= occupation
      else
    if modifier == 'participant--extended participant--invitable'
      if btn != ''
        a.btn.btn-outline-primary.btn-sm.mt-20.participant__role-link(href="#")= btn
    if block
      block