.participant {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-bottom: 70px;
  max-width: 200px;
  position: relative;
  
  &__top {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  &__photo {
    width: 62px;
    height: 62px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    display: block;
  }
  
  &__role {
    margin-top: 8px;
    position: absolute;
    top: 100%;
  }
  
  &__role-header {
    text-align: center;
    font-size: 12px;
    line-height: 1;
    color: #000;
    margin-bottom: 4px;
  }
  
  &__role-link {
    font-size: 14px;
    color: $primary;
    text-align: center;
    text-decoration: underline;
    line-height: 1;
  }
  
  &--invited {
    
    .btn {
      border-color: #9BB1DF;
      background: #9BB1DF;
      color: #fff;
    }
  }
}
