.tag {
  font-size: 12px;
  color: $gray-600;
  border-radius: 5px;
  padding: 2.77px 5.3px;
  margin-bottom: 8px;
  margin-right: 8px;
  display: inline-flex;
  align-items: center;
  white-space: nowrap;
  
  &.custom-checkbox {
    padding: 0;

    .custom-control-input {

      &:checked {

        & ~ .custom-control-label {
          background: $primary;
          color: #fff;
        }
      }
    }

    .custom-control-label {
      padding: 2.77px 5.3px;
      font-size: 12px;
      color: $gray-600;
      border-radius: 5px;
      background: #e5e5e5;

      &:before {
        display: none;
      }

      &:after {
        display: none;
      }
    }
  }
  
  &--gray {
    background: #e5e5e5;
  }
}
