mixin tag(title, id, modifier)
  if modifier == 'tag--checkbox'
    .tag.custom-control.custom-checkbox&attributes(attributes)
      input.custom-control-input(type='checkbox', id=id)
      label.custom-control-label(for=id)= title
  else
    .tag&attributes(attributes)= title