.task {
  display: flex;
  flex-direction: column;
  height: calc(100% - 27px);
  margin-bottom: 27px;
  padding: 25px 20px 20px;
  border: 1px solid #D5E2F3;
  border-radius: 5px;

  @include media-breakpoint-down(lg) {
    padding: 15px 10px;
  }

  @include media-breakpoint-down(md) {
    padding: 25px 20px 20px;
  }

  @include media-breakpoint-down(xs) {
    padding: 10px;
  }

  &__top-content {
    flex: 1 0 auto;
  }

  h3 {
    color: #000;
  }

  p {
    line-height: 17px;
  }

  &--blue,
  &--oingoing {
    border-color: #F2E8E8;
    background-color: #F8FAFC;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 18px;

    @include media-breakpoint-down(xs) {
      flex-wrap: wrap;
    }

    &-left {
      display: flex;
      align-items: center;
      flex: 1 1 auto;
      min-width: 1px;

      @include media-breakpoint-down(xs) {
        flex-wrap: wrap;
      }

      .region {
        margin-right: 5px;
        line-height: 14px;

        @include media-breakpoint-down(xs) {
          width: 100%;
          margin-top: 8px;

          &::before {
            margin-right: 8px;
          }
        }
      }
    }
  }

  &__type {
    padding: 2px 5px 3px;
    margin-right: 9px;
    font-size: 12px;
    line-height: 14px;
    color: #5B5B5B;
    border-radius: 5px;
    background-color: #e5e5e5;
  }

  &__status {
    padding: 1px 13px 2px;
    margin-right: 26px;
    font-size: 12px;
    line-height: 14px;
    color: #5b5b5b;
    border-radius: 5px;
    border: 1px solid #c4c4c4;

    @include media-breakpoint-down(lg) {
      margin-right: 10px;
    }
  }

  &--new {
    .task__status {
      border-color: #41C8F5;
    }
  }

  &--oingoing {
    .task__status {
      border-color: #053A7B;
    }
  }

  &__payability {
    position: relative;
    flex: 0 0 auto;
    margin-left: 20px;
    padding-left: 15px;
    font-size: 12px;
    line-height: 14px;
    color: #909090;

    @include media-breakpoint-down(xs) {
      width: 100%;
      margin-left: 0;
      margin-top: 8px;
    }

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      width: 9px;
      height: 12px;
      background: url(../img/rub-icon.svg) no-repeat center;
      background-size: contain;
    }
  }

  &__footer {
    display: flex;
    align-items: flex-start;
    flex: 0 0 auto;

    @include media-breakpoint-down(xs) {
      flex-wrap: wrap;
      justify-content: space-between;
    }

    .btn {
      flex: 0 0 auto;
      padding: 9px 27px 10px;
      line-height: 17px;

      @include media-breakpoint-down(xs) {
        flex: 1 1 auto;
        width: 100%;
        margin-top: 5px;
      }
    }
  }

  &__dates {
    position: relative;
    display: flex;
    flex: 1 1 auto;
    padding-left: 39px;

    @include media-breakpoint-down(xs) {
      flex: 0 1 auto;
    }

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 3px;
      width: 24px;
      height: 18px;
      background: url(../img/calendar--gray.svg) no-repeat center;
      background-size: contain;
    }
  }

  &__info {
    font-size: 12px;
    line-height: 16px;
    margin-right: 35px;

    @include media-breakpoint-down(lg) {
      margin-right: 20px;
    }

    @include media-breakpoint-down(xs) {
      margin-bottom: 15px;
    }

    &-header {
      color: #5b5b5b;
    }

    &-content {
      color: #053A7B;
    }
  }
}
