mixin task(status, payability, title, modifier)
  .task&attributes(attributes)
    .task__top-content
      .task__header
        .task__header-left
          .task__type Исследование
          .task__status= status
          .region Ростовская обл.
        if payability != ''
          .task__payability Возможна оплата
      h3.mb-15= title
      p.text-muted.mb-30 ИРИ осуществляет сбор и обработку статистической и аналитической информации, а также проводит анализ трендов ...
    .task__footer
      .task__info
        .task__info-header Руководитель проекта:
        .task__info-content Виктор Александров
      .task__dates
        .task__info
          .task__info-header Начало:
          .task__info-content 14.05.2018
        if modifier == 'task--ended'
          .task__info
            .task__info-header Окончание:
            .task__info-content 14.10.2018
      a.btn.btn-outline-primary(href="#") Подробнее