.chart {
  margin-bottom: 80px;
  
  &__content {
    height: 300px;
    margin: 0 auto;

    @include media-breakpoint-down(sm) {
      width: 100%;
//      height: 200px!important;
    }
  }
}


#chartjs-tooltip {
  display: none!important;
}