.search {
  position: relative;
  display: block;
  width: 274px;
  flex: 0 0 auto;

  @include media-breakpoint-down(sm) {
    width: 100%;
    flex: 1 1 auto;
    margin-bottom: 24px;
  }

  &__btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 6px;
    display: block;
    width: 30px;
    height: 30px;
    background: url(../img/search-icon.svg) no-repeat center;
    background-size: 16px 16px;
  }

  &__input {
    display: block;
    width: 100%;
    height: 37px;
    padding: 0 10px 0 46px;
    font-size: 12px;
    line-height: 14px;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    appearance: none;
    box-shadow: none;

    &::-webkit-input-placeholder {
      color: #909090;
    }

    &::-moz-placeholder {
      color: #909090;
    }

    &:-ms-input-placeholder {
      color: #909090;
    }

    &:-moz-placeholder {
      color: #909090;
    }
  }
}
