mixin join(modifier)
  .join&attributes(attributes)
    .container
      .row
        .col-lg-4.d-flex.align-items-center
          .w-100
            h2.text-white.mb-30.mb-lg-40.text-white.text-center.text-lg-left Как стать экспертом ИРИ?
            p.join__dscr.mb-30.mb-lg-0.text-white.text-center.text-lg-left Зарегистрироваться на сайте и подать заявку к рассмотрению на включение в Экспертный совет ИРИ
        .col-sm-6.col-lg-4.col-xl-5.d-flex.align-items-center.justify-content-center
          img.img-fluid.mb-30.mb-sm-0(src="img/join.svg", alt="Picture")
        .col-sm-6.col-lg-4.col-xl-3.d-flex.align-items-center.justify-content-center
          .d-flex.flex-column.align-items-center
            a.btn.btn-primary.btn--pink(href="#") Стать экспертом
            p.mb-0.join__comment.text-white.text-center Это займет не более 5 минут