.join {
  background-color: $primary;
  padding-top: 48px;
  padding-bottom: 80px;

  @include media-breakpoint-down(md) {
    padding-top: 40px;
    padding-bottom: 50px;
  }

  @include media-breakpoint-down(xs) {
    padding-top: 30px;
    padding-bottom: 40px;
  }

  &__dscr {
    font-size: 18px;
    line-height: 28px;
  }

  &__comment {
    margin-top: 10px;
    font-size: 15px;
    line-height: 23px;
  }

  .btn {
    padding: 20px 77px;
    line-height: 17px;
  }
}
