mixin footer(modifier)
  .footer&attributes(attributes)
    .container
      .row
        .col-lg-3.col-md-4
          +logo(class="logo--gray")
          p.p--sm.text-dark.mt-15.mb-0 2015–2018 <br>© Автономная некоммерческая организация "Институт развития интернета" (ИРИ), При использовании материалов указание источника «Институт развития интернета» (ИРИ) и ссылка на сайт ири.рф обязательны!
        .col-lg-2.col-md-4.my-40.my-md-0
          a.footer__link(href="#") ИРИ
          a.footer__link(href="#") Совет
          a.footer__link(href="#") Эксперты
          a.footer__link(href="#") Медиацентр
          a.footer__link(href="#") Контакты
        .col-lg-3.col-md-4
          p.text-dark Партнёры:
          .row
            .col-5
              a.footer__partner(href="#")
                img.footer__partner-logo(src="img/partner-1.png", alt="Partner")
            .col-5
              a.footer__partner(href="#")
                img.footer__partner-logo(src="img/partner-2.png", alt="Partner")
            .col-5
              a.footer__partner(href="#")
                img.footer__partner-logo(src="img/partner-3.png", alt="Partner")
            .col-5
              a.footer__partner(href="#")
                img.footer__partner-logo(src="img/partner-4.png", alt="Partner")