.footer {
  background: #252525;
  padding: 50px 0;

  &__link {
    display: block;
    font-size: 14px;
    margin-bottom: 13px;
    color: #fff;

    &:hover {
      color: #909090;
    }
  }

  &__partner {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    opacity: .6;
    @include transition;

    @include media-breakpoint-down(sm) {
      margin-bottom: 20px;
    }

    &:hover {
      opacity: 1;
    }
  }

  &__partner-logo {
    max-width: 100%;
    max-height: 100%;
  }
}
