.document {
  display: flex;
  align-items: center;
  min-height: 29px;
  margin-bottom: 13px;
  padding-left: 48px;
  padding-right: 20px;
  font-size: 14px;
  line-height: 17px;
  background: url(../img/document.svg) no-repeat left center;
  background-size: 29px 29px;

  @include media-breakpoint-down(xs) {
    padding-right: 0;
  }
}
