.group-task {
  max-width: 320px;
  margin-bottom: 23px;

  > p {
    margin: 0 0 10px;
  }

  &__title {
    display: block;
    font-size: 14px;
    line-height: 17px;
  }

  .p--sm {
    margin: 0 25px 0 0;
    font-size: 12px;
    line-height: 16px;
  }
}
