mixin group-task(title, modifier)
  .group-task&attributes(attributes)
    p
      a.group-task__title(href="#") Провести исследование в области интернета вещей еще строка к заголовку
    .d-sm-flex
      p.p--sm Начало:
        span.text-primary  14.05.2018
      p.p--sm Окончание:
        span.text-primary  14.10.2018