extends ../templates/template.pug
block content
  .denial
    .alert.alert-warning.alert-dismissible.fade.show(role='alert')
      strong Holy guacamole!
      |  You should check in on some of those fields below.
      button.close(type='button', data-dismiss='alert', aria-label='Close')
        span(aria-hidden='true') ×
    .container.pb-50
      .row
        .col-lg-8.offset-lg-2
          .denial__content
            a.denial__back(href="#") Назад
            h2.mb-0.text-muted.text-center К сожалению у Вас нет доступа для просмотра данной страницы (раздела)