extends ../templates/template.pug
block content
  .container
    .row
      .col-12
        +breadcrumbs('Новое мероприятие', 'Пригласить участников')
        form.form.mb-40(action="#", method="POST")
          h2.text-muted Пригласите участников на мероприятие
          .row
            .col-lg-9.order-2.order-lg-1
              .row
                .col-sm-8
                  .form__item.form-group
                    input.form__input.form-control(type="text")
                    p.text-dark.form__label Фамилия Имя Отчество
                .col-sm-4
                  .form__item.form-group
                    .select
                      select.select__input
                        option(label=" ")
                        option Регион 1
                    p.text-dark.form__label Регион
              .row
                .col-sm-4
                  .form__item.form-group
                    .select
                      select.select__input
                        option(label=" ")
                        option Организация 1
                    p.text-dark.form__label Организация
                .col-sm-4
                  .form__item.form-group
                    .select
                      select.select__input.select__input--field
                        option(label=" ")
                        option Отрасль 1
                    p.text-dark.form__label Отрасль
                .col-sm-4
                  .form__item.form-group
                    .select
                      select.select__input
                        option(label=" ")
                        option Уровень 1
                    p.text-dark.form__label Мин. уровень эксперта
              .form__item.form-group
                input.form__input.form-control(type="text")
                p.text-dark.form__label Должность
              .row
                .col-sm-5
                  .form__addition.mb-30.mb-sm-0
                    .form__item.form__addition-item.form-group.mb-0
                      input.form__input.form-control(type="text")
                      p.text-dark.form__label Ключевые слова
                    a.form__addition-btn(href="#")
                .col-sm-7
                  .d-flex.flex-wrap
                    +tag('Ключевое слово')(class='tag--gray')
                    +tag('Ещё лючевое слово')(class='tag--gray')
                    +tag('Ключевое слово')(class='tag--gray')
                    +tag('Ещё лючевое слово')(class='tag--gray')
              .d-flex.flex-column.flex-sm-row.justify-content-end.align-items-center.mt-30
                a.btn.btn-outline-primary.btn-sm.mr-sm-30.mb-20.mb-sm-0(href="#") Вернуться к мероприятию
                a.btn.btn-primary(href="#") Найти экспертов
            .col-lg-3.order-1.order-lg-2.d-flex
              .aside
                .aside__content
                  h2.text-dark Краткие пояснения
                  p.text-dark ИРИ осуществляет сбор и обработку статистической и аналитической информации, а также проводит анализ трендов развития интернет-зависимых отраслей экономики, как в России, так и за рубежом.
                  p.text-dark Первоначально идея о создании ИРИ была представлена в ходе Форума RIW-2014 (соорганизаторы: РАЭК, ФРИИ, МКС и РОЦИТ) и поддержана Администрацией Президента РФ в лице Вячеслава Володина.
                  .aside__comment
                    p.text-dark Поля обязательные к заполнению
  .bg-light.pt-35
    .container
      .row
        .col-12
          h3.text-dark Результаты поиска
            span.text-primary 6
      .row
        .col-lg-2.col-md-4.col-6.d-flex.justify-content-center
          +participant('participant-1.jpg', 'Вадим Вартанов', 'ФГБУ «Всероссийский центр глазной и пластической хирургии»', 'Ведущий инженер-программист', 'Пригласить', 'participant--extended participant--invitable')
        .col-lg-2.col-md-4.col-6.d-flex.justify-content-center
          +participant('participant-2.jpg', 'Вадим Мухаметдинов', 'ФГБУ «Всероссийский центр глазной и пластической хирургии»', 'Ведущий инженер-программист', 'Пригласить', 'participant--extended participant--invitable')
        .col-lg-2.col-md-4.col-6.d-flex.justify-content-center
          +participant('participant-3.jpg', 'Вадим Вартанов', 'Mail.ru Group', 'Web Designer', 'Пригласить', 'participant--extended participant--invitable')
        .col-lg-2.col-md-4.col-6.d-flex.justify-content-center
          +participant('participant-4.jpg', 'Вадим Мухаметдинов', 'ФГБУ «Всероссийский центр глазной и пластической хирургии»', 'Ведущий инженер-программист', 'Приглашен', 'participant--extended participant--invitable')(class="participant--invited")
        .col-lg-2.col-md-4.col-6.d-flex.justify-content-center
          +participant('participant-1.jpg', 'Вадим Вартанов', 'ФГБУ «Всероссийский центр глазной и пластической хирургии»', 'Ведущий инженер-программист', 'Пригласить', 'participant--extended participant--invitable')
        .col-lg-2.col-md-4.col-6.d-flex.justify-content-center
          +participant('participant-2.jpg', 'Вадим Вартанов', 'Mail.ru Group', 'Web Designer', 'Пригласить', 'participant--extended participant--invitable')