extends ../templates/template.pug
block content
  .article
    .bg-light.pb-20.pb-sm-65
      .container
        .row
          .col-12
            +breadcrumbs('Мероприятия', 'Название мероприятия в несколько строк для наглядности на карточке в календаре')
            .row
              .col-lg-8.order-2.order-lg-1.d-flex
                .d-flex.flex-column.justify-content-between
                  h2.text-muted Название мероприятия в несколько строк для наглядности на карточке в календаре
                  .d-flex.align-items-start.align-items-sm-center.flex-column.flex-sm-row
                    a.btn.btn-primary.btn-sm.mr-sm-50(href="#") Зарегистрироваться
                    .region.mr-sm-50.my-20.my-sm-0 Москва, Экспоцентр
                    p.p--sm.text-muted.mb-0 14.10.2018 - 20.10.2018
              .col-lg-4.order-1.order-lg-2.d-flex.justify-content-lg-end
                .article__picture.article__picture--big(style="background-image: url(./img/article-big.jpg);")
    .container.mb-50
      .row.mt-35
        .col-md-8.col-lg-7
          h3.mb-35 Описание
          p Выберите исполнителя или рабочую группу на Ваше задание, для этого выберите пункт из списка и введите данные, после активируйте поиск и из предложенных вариантов выберите одного исполнителя или группу (текст очень примерный, прошу не пинать)
          p Выберите исполнителя или рабочую группу на Ваше задание, для этого выберите пункт из списка и введите данные, после активируйте поиск и из предложенных вариантов выберите одного исполнителя или группу (текст очень примерный, прошу не пинать) Выберите исполнителя или рабочую группу на Ваше задание, для этого выберите пункт из списка и введите данные, после активируйте поиск и из предложенных вариантов выберите одного исполнителя или группу (текст очень примерный, прошу не пинать)
          p Выберите исполнителя или рабочую группу на Ваше задание, для этого выберите пункт из списка и введите данные, после активируйте поиск и из предложенных вариантов выберите одного исполнителя или группу (текст очень примерный, прошу не пинать)
          a.btn.btn-primary.btn-sm.mt-30.mt-md-50(href="#") Зарегистрироваться
        .col-md-4.offset-lg-1.mt-40.mt-md-0
          h3.mb-15 Организатор
          img.article__logo(src="img/logo.svg", alt="Logo")
          p.text-muted.mb-25 ООО “Институт Развития Интернета” <br>г. Москва, ул. Разсторгуева 35 <br>+7 985 999 85 99 <br>
            span.text-primary info@iri.ru
          h3.mt-25.mb-15 Место проведения
          p.text-muted.mb-30 г. Москва, ул. Разсторгуева 35, Экспоцентр
          +map
  .bg-light.pt-35
    .container
      .row
        .col-12
          .d-flex.align-items-baseline.mb-40
            h3.text-dark.mr-10.mb-0 Участники
            p.mb-0
              a(href="#") Все 130
      .row
        .col-lg-2.col-md-4.col-6
          +participant('participant-1.jpg', 'Вадим Вартанов', 'ФГБУ «Всероссийский центр глазной и пластической хирургии»', 'Ведущий инженер-программист', 'Пригласить', 'participant--extended')
        .col-lg-2.col-md-4.col-6
          +participant('participant-2.jpg', 'Вадим Мухаметдинов', 'ФГБУ «Всероссийский центр глазной и пластической хирургии»', 'Ведущий инженер-программист', 'Пригласить', 'participant--extended')
        .col-lg-2.col-md-4.col-6
          +participant('participant-3.jpg', 'Вадим Вартанов', 'Mail.ru Group', 'Web Designer', 'Пригласить', 'participant--extended')
        .col-lg-2.col-md-4.col-6
          +participant('participant-4.jpg', 'Вадим Мухаметдинов', 'ФГБУ «Всероссийский центр глазной и пластической хирургии»', 'Ведущий инженер-программист', 'Приглашен', 'participant--extended')(class="participant--invited")
        .col-lg-2.col-md-4.col-6
          +participant('participant-1.jpg', 'Вадим Вартанов', 'ФГБУ «Всероссийский центр глазной и пластической хирургии»', 'Ведущий инженер-программист', 'Пригласить', 'participant--extended')
        .col-lg-2.col-md-4.col-6
          +participant('participant-2.jpg', 'Вадим Вартанов', 'Mail.ru Group', 'Web Designer', 'Пригласить', 'participant--extended')
        .col-lg-2.col-md-4.col-6
          +participant('participant-1.jpg', 'Вадим Вартанов', 'ФГБУ «Всероссийский центр глазной и пластической хирургии»', 'Ведущий инженер-программист', 'Пригласить', 'participant--extended')
        .col-lg-2.col-md-4.col-6
          +participant('participant-2.jpg', 'Вадим Мухаметдинов', 'ФГБУ «Всероссийский центр глазной и пластической хирургии»', 'Ведущий инженер-программист', 'Пригласить', 'participant--extended')
        .col-lg-2.col-md-4.col-6
          +participant('participant-3.jpg', 'Вадим Вартанов', 'Mail.ru Group', 'Web Designer', 'Пригласить', 'participant--extended')
        .col-lg-2.col-md-4.col-6
          +participant('participant-4.jpg', 'Вадим Мухаметдинов', 'ФГБУ «Всероссийский центр глазной и пластической хирургии»', 'Ведущий инженер-программист', 'Приглашен', 'participant--extended')(class="participant--invited")
        .col-lg-2.col-md-4.col-6
          +participant('participant-1.jpg', 'Вадим Вартанов', 'ФГБУ «Всероссийский центр глазной и пластической хирургии»', 'Ведущий инженер-программист', 'Пригласить', 'participant--extended')
        .col-lg-2.col-md-4.col-6
          +participant('participant-2.jpg', 'Вадим Вартанов', 'Mail.ru Group', 'Web Designer', 'Пригласить', 'participant--extended')