extends ../templates/template.pug
block content
  .container
    .row
      .col-12
        +breadcrumbs('', 'Мероприятия')
        .d-lg-flex.align-items-center.justify-content-between.mb-20
          .d-md-flex.mb-25.mb-lg-0
            h2.mb-0.mr-0.mr-md-45.text-muted Мероприятия
            .d-sm-flex.align-items-center.my-10.my-md-0.flex-wrap
              +tag('Мероприятия ИРИ', 'id1', 'tag--checkbox')(class="mb-0 mt-5")
              +tag('Стороние мероприятия', 'id2', 'tag--checkbox')(class="tag--gray mb-0 mt-5")
          +search('Искать мероприятие')
        form.form.d-flex.flex-column.flex-lg-row.align-items-lg-end.justify-content-between.mb-35(action="#", method="POST")
          .form__item.form__item--static.form-group.mb-0
            p.text-dark.form__label Регион
            .select
              select.select__input.select__input--simple
                option(selected) Ростовская область
          .d-flex.flex-column.flex-md-row.align-items-md-end.mt-20.mt-lg-0
            .form__item.form__item--static.form-group.mb-20.mb-md-0
              p.text-dark.form__label Тематика
              .select
                select.select__input.select__input--simple
                  option(selected) Исследования
            .form__item.form__item--static.form-group.mb-20.mb-md-0.ml-md-20
              p.text-dark.form__label Месяц
              .select
                select.select__input.select__input--simple
                  option(selected) Март
            button.btn.btn-primary.btn-sm.ml-md-25(type="submit") Показать
    .row
      .col-lg-4.col-sm-6
        +event('event-1.jpg', 'Название мероприятия в несколько строк для наглядности на карточке в календаре', 'ИРИ осуществляет сбор и обработку статистической и аналитической информации, а также проводит анализ трендов ...')
      .col-lg-4.col-sm-6
        +event('event-2.jpg', 'Название мероприятия в несколько строк для наглядности на карточке в календаре', 'ИРИ осуществляет сбор и обработку статистической и аналитической ')
      .col-lg-4.col-sm-6
        +event('event-3.jpg', 'Название мероприятия в несколько строк для наглядности на карточке в календаре')
      .col-lg-4.col-sm-6
        +event('event-4.jpg', 'Название мероприятия в несколько строк для наглядности на карточке в календаре', 'ИРИ осуществляет сбор и обработку статистической и аналитической информации, а также проводит анализ трендов ...')
      .col-lg-4.col-sm-6
        +event('event-5.jpg', 'Название мероприятия в несколько строк для наглядности на карточке в календаре', 'ИРИ осуществляет сбор и обработку ')
      .col-lg-4.col-sm-6
        +event('event-6.jpg', 'Название мероприятия в несколько строк для наглядности на карточке в календаре')
    .row
      .col-12
        +pagination