extends ../templates/template.pug
block content
  .container
    .row
      .col-12
        +breadcrumbs('', 'Новое мероприятие')
        form.form.mb-40(action="#", method="POST", novalidate)
          h2.mb-35.text-muted Новое мероприятие
          .row
            .col-lg-9.order-2.order-lg-1
              .form__item.form__item--required.form-group
                input.form__input.form-control(type="text", required)
                p.text-dark.form__label Название мероприятия
                .invalid-feedback Обязательное поле
              .form__item.form__item--required.form__item--textarea.form-group
                textarea.form__input.form-control(placeholder="Описание мероприятия", required)
                .invalid-feedback Обязательное поле
              .row
                .col-sm-4
                  .form__item.form-group
                    .select
                      select.select__input
                        option(selected) Исследование
                    p.text-dark.form__label.form__label--active Тематика мероприятия
                .col-sm-4
                  .form__item.form-group
                    .select
                      select.select__input
                        option(selected) Закрытое мероприятие
                    p.text-dark.form__label.form__label--active Уровень доступа
              h4.mb-25 Контактные данные
              .row
                .col-sm-4
                  .form__item.form-group
                    .select
                      select.select__input
                        option(selected) Ростовская область
                    p.text-dark.form__label.form__label--active Регион проведения
                .col-sm-4
                  .form__item.form-group
                    input.form__input.form-control(type="text", value="Ростов-на-Дону")
                    p.text-dark.form__label Город
                .col-sm-4
                  .form__item.form-group
                    input.form__input.form-control(type="text", value="+7 985 66 - 99 - 881")
                    p.text-dark.form__label Номер телефона
              .form__item.form-group
                input.form__input.form-control(type="text", value="Ростов-на-Дону")
                p.text-dark.form__label Адрес
              .row
                .col-sm-4
                  .form__item.form-group
                    input.form__input.form-control(type="text", value="info@iri.ru")
                    p.text-dark.form__label E-mail
              h4.mt-60.mb-25 Даты проведения мероприятия
              .row
                .col-sm-4
                  .form__item.form__item--required.form-group
                    input.form__input.form__input--calendar.form-control(type="text" required)
                    p.text-dark.form__label Дата начала
                  .invalid-feedback Обязательное поле
                .col-sm-4
                  .form__item.form-group
                    input.form__input.form__input--calendar.form-control(type="text")
                    p.text-dark.form__label Дата окончания
              h4.mt-20.mb-25 Прикрепите фото для обложки мероприятия
              .d-flex.flex-column.flex-md-row.align-items-center.mb-70
                .custom-file.custom-file--outline.mr-md-50.mb-10.mb-md-0
                  input#formFile1.custom-file-input(type='file')
                  label.custom-file-label(for='formFile1') Выбрать фото
                p.text-muted.mb-0 Выбранный файл:
                .d-flex.flex-column.flex-md-row.align-items-center.mx-20.mx-sm-80.my-10.my-md-0
                  p.mb-10.mb-md-0.mr-md-80 vicotr.jpg
                  a.form__remove(href="#") Удалить
              .form__item.form-group
                input.form__input.form__input--top.form-control(type="text")
                p.text-dark.form__label.form__label--short.form__label--short-top Принадлежность к группе (начните вводить название группы)
              .d-flex.justify-content-end.flex-column.flex-sm-row
                button.btn.btn-primary.mb-20.mb-sm-0.mr-sm-25(type="submit") Пригласить участников на мероприятие
                button.btn.btn-primary(type="submit") Создать мероприятие
            .col-lg-3.order-1.order-lg-2.d-flex
              .aside
                .aside__content
                  h2.text-dark Краткие пояснения
                  p.text-dark ИРИ осуществляет сбор и обработку статистической и аналитической информации, а также проводит анализ трендов развития интернет-зависимых отраслей экономики, как в России, так и за рубежом.
                  p.text-dark Первоначально идея о создании ИРИ была представлена в ходе Форума RIW-2014 (соорганизаторы: РАЭК, ФРИИ, МКС и РОЦИТ) и поддержана Администрацией Президента РФ в лице Вячеслава Володина.
                  .aside__comment
                    p.text-dark Поля обязательные к заполнению