extends ../templates/template.pug
block content
  .container
    .row
      .col-12
        +breadcrumbs('Рабочие группы', 'Викторианцы в технологиях познания искуственного интелекта')
        .article.mb-50
          .row
            .col-lg-9
              .article__content
                .article__header
                  .article__picture(style="background-image: url(./img/group-1.jpg);")
                  div
                    h3.mb-20 Викторианцы в технологиях познания искуственного интелекта
                    p.p--sm.text-primary Автор: Виктор Александров
                .d-flex.flex-wrap.mt-25.mb-10
                  +tag('Медицина', '')(class="tag--gray")
                  +tag('Технологии', '')(class="tag--gray")
                  +tag('Интернет', '')(class="tag--gray")
                p Наша Вселенная – это неповторимое место, которое человек пытается понять на протяжении всей своей истории. Хотя человечество прошло долгий путь исследования космоса, все новые и новые «космические» открытия совершаются ежедневно. И неважно, что это - алкогольное облако в центре Вселенной или Теория Относительности Эйнштейна – каждая такая находка дает обширное поле для работы астрофизикам. Все это также интересно и людям, чья профессия не связана с астрономией. Когда вы прочтете 25 Невероятных фактов о Космосе, вам самим захочется отправиться покорять космос.
                p Сегодня, после захода Солнца, не поленитесь посмотреть в небо. В зависимости от того, насколько темно на улице, вы наверняка увидите несколько тысяч звезд. Все эти звезды находятся в нашей галактике, Млечный путь. Вы даже можете
                p
                  a.font-weight-bold(href="#") Читать полное описание
                .article__gallery
                  a.article__gallery-item(href="img/gallery-1.jpg", style="background-image: url(./img/gallery-1.jpg);", data-fancybox="gallery")
                  a.article__gallery-item(href="img/gallery-2.jpg", style="background-image: url(./img/gallery-2.jpg);", data-fancybox="gallery")
                  a.article__gallery-item(href="img/gallery-3.jpg", style="background-image: url(./img/gallery-3.jpg);", data-fancybox="gallery")
                  a.article__gallery-item(href="img/gallery-4.jpg", style="background-image: url(./img/gallery-4.jpg);", data-fancybox="gallery")
                  a.article__gallery-item(href="img/gallery-5.jpg", style="background-image: url(./img/gallery-5.jpg);", data-fancybox="gallery")
                  a.article__gallery-item(href="img/gallery-6.jpg", style="background-image: url(./img/gallery-6.jpg);", data-fancybox="gallery")
                  a.article__gallery-item(href="img/gallery-1.jpg" data-fancybox="gallery")
                    h3.text-center.mb-0 Ещё 40 фото
              .bg-light.p-20.px-md-40.pt-md-35.pb-15.my-15
                .d-flex.align-items-baseline.mb-40
                  h3.font-weight-medium.mb-0.mr-20 Задачи группы
                  a.link(href="#") Все задачи
                .row
                  .col-md-5
                    +group-task
                  .col-md-5
                    +group-task
                  .col-md-5
                    +group-task
                  .col-md-5
                    +group-task
              form.form.bg-light.py-20.px-15.mb-25(action="#", method="POST")
                .form__add.form-group.mb-0
                  textarea.form__add-input
                  button.btn.btn-primary.btn-sm.form__add-btn.px-15(type="submit") Добавить сообщение
                .d-md-flex.align-items-center.mt-20
                  .custom-file.custom-file--outline.mr-25
                    input#formFile1.custom-file-input(type='file')
                    label.custom-file-label(for='formFile1') Выбрать файл
                  p.mb-0.mr-20.text-muted.my-10.my-md-0 Загруженные файлы
                  p.mb-0.mr-20.my-10.my-md-0 Сертификат 2.pdf
                  a.form__remove(href="#") Удалить
            .col-lg-3
              a.btn.btn-outline-primary.btn-sm.mb-30.w-100(href="#") Подать заявку
              .d-flex.align-items-center.justify-content-between.mb-35
                h3.font-weight-medium.mb-0 Участники
                a.article__participants(href="#") 3 500 чел.
              .row
                .col-6.d-flex.justify-content-center
                  +participant('participant-1.jpg', 'Вадим Вартанов', '', '', '')(class="mb-15")
                .col-6.d-flex.justify-content-center
                  +participant('participant-2.jpg', 'Вадим Мухаметдинов', '', '', '')(class="mb-15")
                .col-6.d-flex.justify-content-center
                  +participant('participant-3.jpg', 'Вадим Вартанов', '', '', '')(class="mb-15")
                .col-6.d-flex.justify-content-center
                  +participant('participant-4.jpg', 'Вадим Мухаметдинов', '', '', '')(class="mb-15")
              a.link.mt-30(href="#") Пригласить участников
              h3.mt-30.mb-25 Документы
              a.document(href="#") Сертификат 2.pdf
              a.document(href="#") Наименование документа в одну две строки с расширением.doc
              h3.mt-45.mb-25 Связанные мероприятия
              +associated-event
              +associated-event
              a.link(href="#") Все 30 мероприятий
          .row.mt-40.mt-lg-0
            .col-lg-9
              +comment('«Если вы покупаете новейшее железо, то получите процессор с архитектурой Skylake.» <br>Прошу прощения но с телефона (из приложения) не понятно это перевод или нет? <br>Сейчас 8 поколение — CoffeLake, а Skylake это 6. <br>Думается сейчас ситуация уже должна измениться, или нет?')
                +comment('Да, очень интересно было бы посмотреть на подобное исследование по другим языкам. Скажем, Java и Gо — как другие представители популярных языков, где рядовые разработчики часто не задумываются, как оно живет «под капотом».')(class="comment--answer comment--unpopular")
                  +comment('Да, очень интересно было бы посмотреть на подобное исследование по другим языкам. Скажем, Java и Gо — как другие представители популярных языков, где рядовые разработчики часто не задумываются, как оно живет «под капотом».', 'comment--file')(class="comment--answer")
                    +comment('Да, очень интересно было бы посмотреть на подобное исследование по другим языкам. Скажем, Java и Gо — как другие представители популярных языков, где рядовые разработчики часто не задумываются, как оно живет «под капотом».', 'comment--file')(class="comment--answer")
                      +comment('Да, очень интересно было бы посмотреть на подобное исследование по другим языкам. Скажем, Java и Gо — как другие представители популярных языков, где рядовые разработчики часто не задумываются, как оно живет «под капотом».', 'comment--file')(class="comment--answer comment--unpopular")
                        +comment('Да, очень интересно было бы посмотреть на подобное исследование по другим языкам. Скажем, Java и Gо — как другие представители популярных языков, где рядовые разработчики часто не задумываются, как оно живет «под капотом».', 'comment--file')(class="comment--answer")