extends ../templates/template.pug
block content
  .container
    .row
      .col-12
        .d-md-flex.justify-content-between.mb-20
          div
            +breadcrumbs('', 'Рабочие группы')
            .d-sm-flex.align-items-baseline.mb-25
              h2.mb-20.mb-sm-0.text-muted Экспертные группы
              .select.select--inline.ml-sm-25
                select.select__input.select__input--list
                  option(selected) Мои группы
                  option Группы 1
                  option Группы 2
            .d-sm-flex
              .d-flex.flex-wrap.mr-40.align-items-center
                +tag('Медицина', 'id3', 'tag--checkbox')
                +tag('Технология', 'id4', 'tag--checkbox')
                +tag('Интернет', 'id5', 'tag--checkbox')
                +tag('Торговля', 'id6', 'tag--checkbox')(class="tag--gray")
                +tag('Финансы', 'id7', 'tag--checkbox')(class="tag--gray")
                +tag('Образование', 'id8', 'tag--checkbox')(class="tag--gray")
              p.p--sm.text-dark.mb-0.mb-xl-10 Найдено
                span.text-primary.text-md  250
                |  групп по данным тематикам
          .d-flex
            .d-flex.flex-column.align-items-end.justify-content-between.mt-15.flex-grow-1.flex-sm-grow-0
              a.btn.btn-primary.btn-sm.px-20.mb-10.mb-md-0.w-100.w-sm-auto(href="#") Создать экспертную группу
              +search('Искать экспертную группу')
    .row
      .col-md-6
        +group
      .col-md-6
        +group
      .col-md-6
        +group
      .col-md-6
        +group
      .col-md-6
        +group
      .col-md-6
        +group
    .row
      .col-12
        +pagination