extends ../templates/template.pug
block content
  .container
    .row
      .col-12
        +role
        +breadcrumbs('Новая группа', 'Пригласить участников')
        form.form.mb-40(action="#", method="POST")
          h2.text-muted Пригласите участников в Вашу группу
          .row
            .col-lg-9.order-2.order-lg-1
              .row
                .col-sm-8
                  .form__item.form-group
                    input.form__input.form-control(type="text")
                    p.text-dark.form__label Фамилия Имя Отчество
                .col-sm-4
                  .form__item.form-group
                    .select.select--list
                      select.select__input
                        option(label=" ")
                        option Статус в системе
                    p.text-dark.form__label Статус в системе
              .form__item.form-group
                input.form__input.form-control(type="text")
                p.text-dark.form__label Место работы
              .d-flex.flex-column.flex-sm-row.justify-content-end.align-items-center.mt-30
                a.btn.btn-outline-primary.btn-sm.mr-sm-30.mb-20.mb-sm-0(href="#") Вернуться к группам
                a.btn.btn-primary(href="#") Найти экспертов
            .col-lg-3.order-1.order-lg-2.d-flex
              .aside
                .aside__content
                  h2.text-dark Краткие пояснения
                  p.text-dark ИРИ осуществляет сбор и обработку статистической и аналитической информации, а также проводит анализ трендов развития интернет-зависимых отраслей экономики, как в России, так и за рубежом.
                  p.text-dark Первоначально идея о создании ИРИ была представлена в ходе Форума RIW-2014 (соорганизаторы: РАЭК, ФРИИ, МКС и РОЦИТ) и поддержана Администрацией Президента РФ в лице Вячеслава Володина.
                  .aside__comment
                    p.text-dark Поля обязательные к заполнению
  .bg-light.pt-35
    .container
      .row
        .col-12
          h3.text-dark Результаты поиска 
            span.text-primary 6
      .row
        .col-lg-2.col-md-4.col-6.d-flex.justify-content-center
          +participant('participant-1.jpg', 'Вадим Вартанов', 'ФГБУ «Всероссийский центр глазной и пластической хирургии»', 'Ведущий инженер-программист', 'Пригласить', 'participant--extended participant--invitable')
        .col-lg-2.col-md-4.col-6.d-flex.justify-content-center
          +participant('participant-2.jpg', 'Вадим Мухаметдинов', 'ФГБУ «Всероссийский центр глазной и пластической хирургии»', 'Ведущий инженер-программист', 'Пригласить', 'participant--extended participant--invitable')
        .col-lg-2.col-md-4.col-6.d-flex.justify-content-center
          +participant('participant-3.jpg', 'Вадим Вартанов', 'Mail.ru Group', 'Web Designer', 'Пригласить', 'participant--extended participant--invitable')
        .col-lg-2.col-md-4.col-6.d-flex.justify-content-center
          +participant('participant-4.jpg', 'Вадим Мухаметдинов', 'ФГБУ «Всероссийский центр глазной и пластической хирургии»', 'Ведущий инженер-программист', 'Приглашен', 'participant--extended participant--invitable')(class="participant--invited")
            .participant__role
              .participant__role-header Член экспертного совета +
              a.participant__role-link(href="#") Сменить роль
        .col-lg-2.col-md-4.col-6.d-flex.justify-content-center
          +participant('participant-1.jpg', 'Вадим Вартанов', 'ФГБУ «Всероссийский центр глазной и пластической хирургии»', 'Ведущий инженер-программист', 'Пригласить', 'participant--extended participant--invitable')
        .col-lg-2.col-md-4.col-6.d-flex.justify-content-center
          +participant('participant-2.jpg', 'Вадим Вартанов', 'Mail.ru Group', 'Web Designer', 'Пригласить', 'participant--extended participant--invitable')