extends ../templates/template.pug
block content
  .container
    .row
      .col-12
        +breadcrumbs('', 'Новая группа')
        form.form.mb-50(action="#", method="POST", novalidate)
          h2.text-muted Новая группа
          .row
            .col-lg-9.order-2.order-lg-1
              .form__item.form-group
                input.form__input.form-control(type="text")
                p.text-dark.form__label Название группы
              .row.mb-30
                .col-sm-5
                  .form__addition.mb-30.mb-sm-0
                    .form__item.form__addition-item.form-group.mb-0
                      .select
                        select.select__input
                          option(selected) Медицина
                      p.text-dark.form__label.form__label--active Ключевые слова
                    a.form__addition-btn(href="#")
                .col-sm-7
                  .d-flex.flex-wrap
                    +tag('Медицина')(class='tag--gray')
                    +tag('Технологии')(class='tag--gray')
                    +tag('Интернет или длинное описание отрасли')(class='tag--gray')
                  .form__comment Можно добавить максимум 3 отрасли
              .form__item.form__item--required.form__item--textarea.form-group
                textarea.form__input.form-control(placeholder="Описание мероприятия", required)
                .invalid-feedback Обязательное поле
              .form__item.form__item--required.form__item--textarea.form-group
                textarea.form__input.form-control(placeholder="Описание мероприятия", required)
                .invalid-feedback Обязательное поле
              h4 Документы
              .row
                .col-xl-3.col-md-4
                  .custom-file.custom-file--outline.mb-20.mb-sm-0
                    input#formFile1.custom-file-input(type='file')
                    label.custom-file-label(for='formFile1') Выбрать документ
                .col-xl-9.col-md-8
                  p.text-muted.mb-20 Загруженные файлы
                  .d-sm-flex.align-items-center.mb-15
                    p.mb-0.mr-20.mb-10.mb-sm-0 Сертификат 2.pdf
                    a.form__remove(href="#") Удалить
                  .d-sm-flex.align-items-center
                    p.mb-0.mr-20.mb-10.mb-sm-0 Более длинное название файла в одну строку.pdf
                    a.form__remove(href="#") Удалить
              h4.mt-30.mt-md-0 Фотографии
              .row
                .col-xl-3.col-md-4
                  .custom-file.custom-file--outline.mb-5
                    input#formFile2.custom-file-input(type='file')
                    label.custom-file-label(for='formFile2') Выбрать фото
                  p.text-dark Первое добавленное фото будет аватаром Вашей группы
                .col-xl-9.col-md-8
                  .form__pictures-wrapper
                    .form__picture
                      .form__picture-content(style="background-image: url(./img/form-picture-1.jpg);")
                      a.form__remove(href="#") Удалить
                    .form__picture
                      .form__picture-content(style="background-image: url(./img/form-picture-2.jpg);")
                      a.form__remove(href="#") Удалить
                    .form__picture
                      .form__picture-content(style="background-image: url(./img/form-picture-3.jpg);")
                      a.form__remove(href="#") Удалить
                    .form__picture
                      .form__picture-content(style="background-image: url(./img/form-picture-4.jpg);")
                      a.form__remove(href="#") Удалить
                    .form__picture
                      .form__picture-content(style="background-image: url(./img/form-picture-5.jpg);")
                      a.form__remove(href="#") Удалить
                    .form__picture
                      .form__picture-content(style="background-image: url(./img/form-picture-6.jpg);")
                      a.form__remove(href="#") Удалить
              .d-flex.flex-column.flex-sm-row.justify-content-between.align-items-center.mt-30.mt-sm-45
                .pr-sm-100
                  p.text-success.mb-10 Все поля заполненны корректно
                  p.p--sm.text-dark.mb-20.mb-sm-0 Я принимаю условия
                    a.text-primary(href="#") Пользовательского соглашения
                    | и даю своё согласие на обработку моей персональной информации на условиях, определенных
                    a.text-primary(href="#") Политикой конфиденциальности
                button.btn.btn-primary.flex-shrink-0(type="submit") Создать группу
            .col-lg-3.order-1.order-lg-2.d-flex
              .aside
                .aside__content
                  h2.text-dark Краткие пояснения
                  p.text-dark ИРИ осуществляет сбор и обработку статистической и аналитической информации, а также проводит анализ трендов развития интернет-зависимых отраслей экономики, как в России, так и за рубежом.
                  p.text-dark Первоначально идея о создании ИРИ была представлена в ходе Форума RIW-2014 (соорганизаторы: РАЭК, ФРИИ, МКС и РОЦИТ) и поддержана Администрацией Президента РФ в лице Вячеслава Володина.
                  .aside__comment
                    p.text-dark Поля обязательные к заполнению