doctype html
html(lang='ru')
  include ../templates/head.pug
  include ../templates/blocks.pug
  
  body
    +header(class="header--no-logo")
    .wrapper
      +front
      +why
      +opportunities
      +join
    +footer
    script(src="js/scripts.js?version=1")