extends ../templates/template.pug
block content
  .container
    .row
      .col-12
        +breadcrumbs('Эксперты', 'Александр Викторов')
        .profile
          .profile__header
            .profile__header-left
              .profile__userpic(style="background-image: url(./img/userpic.jpg);")
              .profile__header-content
                h2 Викторов Александр Валентинович <br>35 лет
                .profile__header-content-bottom
                  h3.text-muted г. Ковров, Красноярский край
                  .d-sm-flex
                    p.mb-0
                      a(href="#") Редактировать профиль
                    p.mb-0
                      a(href="#") Настройки приватности
            .profile__header-right
              .profile__field Медицина
              +socials
          h3 Профессиональная деятельность
          .d-md-flex.mb-30
            h4.mb-10.mb-sm-0.mr-30.text-primary.font-weight-bold 2015 - 2018
            div
              h4.mb-5 Федеральное государственное бюджетное учреждение «Всероссийский центр глазной и пластической хирургии»
              p.text-dark.mb-0 Ведущий инженер-программист
          .d-md-flex.mb-30
            h4.mb-10.mb-sm-0.mr-30.text-primary.font-weight-bold 2015 - 2018
            div
              h4.mb-5 Федеральное государственное бюджетное учреждение «Всероссийский центр глазной и пластической хирургии»
              p.text-dark.mb-0 Ведущий инженер-программист
          .d-sm-flex.mb-25
            h3.mb-10.mb-sm-0.mr-20 Экспертные группы
            a.btn.btn-secondary(href="#") Посмотреть все
          .row.mb-50
            .col-lg-6
              +group('group--profile')
            .col-lg-6
              +group('group--profile')
            .col-lg-6
              +group('group--profile')
            .col-lg-6
              +group('group--profile')
          .d-sm-flex.mb-35
            h3.mb-10.mb-sm-0.mr-20 Участие в задачах
            a.btn.btn-secondary(href="#") Посмотреть все
          .row.mb-50
            .col-lg-6
              +task('Завершено', 'Возможна оплата', 'Провести исследование в области интернета вещей еще строка к заголовку', 'task--ended')
            .col-lg-6
              +task('Новое', '', 'Провести исследование в области интернета вещей еще строка к заголовку')(class="task--blue task--new")
          .d-sm-flex.mb-35
            h3.mb-10.mb-sm-0.mr-20 Мероприятия
            a.btn.btn-secondary(href="#") Посмотреть все
          .row.mb-45
            .col-md-4
              +event-short('event-1.png', 'MACS ON AIR. Цифровая трансформация в действии. Лекция', 'Медицина', '')
            .col-md-4
              +event-short('event-2.png', 'Премия Social Digital World 2018', 'Технологии', 'Digital')
            .col-md-4
              +event-short('event-3.png', 'MACS ON AIR. Цифровая трансформация в действии. Лекция', 'Медицина', '')
          h3.mb-60 Статистика
          +chart