extends ../templates/template.pug
block content
  .container
    .row
      .col-xl-9
        +breadcrumbs('Опросы', 'Опрос в области интернета вещей еще строка к заголовку')
        h2 Опрос в области интернета вещей еще строка к заголовку
        p Выберите исполнителя или рабочую группу на Ваше задание, для этого выберите пункт из списка и введите данные, после активируйте поиск и из предложенных вариантов выберите одного исполнителя или группу (текст очень примерный, прошу не пинать)
        p Выберите исполнителя или рабочую группу на Ваше задание, для этого выберите пункт из списка и введите данные, после активируйте поиск и из предложенных вариантов выберите одного исполнителя или группу (текст очень примерный, прошу не пинать)
        form.form.mb-40(action="#", method="POST")
          .custom-control.custom-checkbox
            input#customCheck1.custom-control-input(type='checkbox')
            label.custom-control-label(for='customCheck1') Вариант ответа
          .custom-control.custom-checkbox
            input#customCheck2.custom-control-input(type='checkbox')
            label.custom-control-label(for='customCheck2') Еще вариант ответа в одну строку
          .custom-control.custom-checkbox
            input#customCheck3.custom-control-input(type='checkbox')
            label.custom-control-label(for='customCheck3') Еще вариант ответа в одну строку чуть длинее
          .custom-control.custom-checkbox
            input#customCheck4.custom-control-input(type='checkbox')
            label.custom-control-label(for='customCheck4') Свой вариант
          .form__item.form__item--textarea.form-group.mt-35
            textarea.form__input.form-control(placeholder="Описание мероприятия")
          button.btn.btn-primary(type="submit") Отправить