extends ../templates/template.pug
block content
  .container
    .row
      .col-12
        +breadcrumbs('', 'Опросы')
        .d-md-flex.justify-content-between.align-items-center.mb-25
          h2.text-muted.mb-25.mb-md-0 Опросы
          +search('Искать опрос')
        form.form(action="#", method="POST")
          .d-flex.mb-25
            p.p--sm.text-dark.mb-0.mr-30.mt-1 Темы:
            .d-flex.flex-wrap
              +tag('Разработка', 'id9', 'tag--checkbox')
              +tag('Исследования', 'id10', 'tag--checkbox')
              +tag('Соц. опрос', 'id11', 'tag--checkbox')(class="tag--gray")
        +quiz
        +quiz
        +quiz
        +quiz
        +pagination