extends ../templates/template.pug
block content
  .container
    .row
      .col-12
        +breadcrumbs('', 'Регистрация')
        form.form.mb-50(action="#", method="POST" novalidate)
          .d-sm-flex.align-items-center.mb-35
            h2.mb-10.mr-sm-45.text-muted Регистрация
            a.btn.btn-secondary(href="#") Внести данные из RUNET-ID
          .row
            .col-lg-9.order-2.order-lg-1
              h3.text-dark.mb-20 Личные данные
              .row
                .col-sm-4
                  .form__item.form__item--required.form-group
                    input.form__input.form-control(type="text" required)
                    p.text-dark.form__label Фамилия
                    .invalid-feedback Обязательное поле
                .col-sm-4
                  .form__item.form__item--required.form-group
                    input.form__input.form-control(type="text" required)
                    p.text-dark.form__label Имя
                    .invalid-feedback Обязательное поле
                .col-sm-4
                  .form__item.form__item--required.form-group
                    input.form__input.form-control(type="text" required)
                    p.text-dark.form__label Отчество
                    .invalid-feedback Обязательное поле
                .col-sm-4
                  .form__item.form__item--required.form-group
                    input.form__input.form-control(type="text" required)
                    p.text-dark.form__label Ваш город
                    .invalid-feedback Обязательное поле
                .col-sm-4
                  .form__item.form__item.form-group
                    .select
                      select.select__input
                        option(selected) Красноярский край
                    p.text-dark.form__label.form__label--active Область \  Край
                .col-sm-4
                  .form__item.form-group
                    input.form__input.form-control.form__input--calendar(type="text")
                    p.text-dark.form__label Дата рождения
              .d-flex.flex-column.flex-sm-row.align-items-center.mb-40
                .form__userpic
                div
                  p.text-dark.mb-15.text-center Добавьте Ваше фото
                  .custom-file
                    input#formFile1.custom-file-input(type='file')
                    label.custom-file-label(for='formFile1') Выбрать фото
              h3.text-dark Контактные данные
              .row
                .col-sm-4
                  .form__item.form-group
                    input.form__input.form-control(type="text")
                    p.text-dark.form__label Ваш номер телефона
                .col-sm-4
                  .form__item.form-group
                    input.form__input.form-control(type="text")
                    p.text-dark.form__label Ваш e-mail
                .col-sm-4
                  .custom-file.custom-file--secondary
                    input#formFile2.custom-file-input(type='file')
                    label.custom-file-label(for='formFile2') Загрузить файл с резюме
                  .d-flex.flex-column.flex-xl-row.align-items-xl-center.mt-10.mb-30.mb-sm-0
                    p.mb-10.mb-sm-0.mr-20
                      a(href="#") Резюме Алексан.. .pdf
                    a.form__remove(href="#") Удалить
              .form__add.form__item.form-group.mb-0.pl-15
                input.form__add-input.form__input.form-control.pl-0(type="text")
                p.text-dark.form__label Вставьте сылку на ваш аккаунт или напишите имя аккаунта в мессенджере
                button.btn.btn-primary.btn-sm.form__add-btn.px-15(type="submit") Добавить
              .bg-light.border-radius.p-25.d-flex.flex-column.flex-sm-row.align-items-center.justify-content-between.mt-20.border-radius
                h4.mb-10.mb-sm-0
                  a(href="#") https://vk.com/id103085638
                a.form__remove(href="#") Удалить
              h3.text-dark.mt-35 Профессиональные данные
              .row
                .col-sm-4
                  .form__item.form-group
                    input.form__input.form-control(type="text")
                    p.text-dark.form__label Организация
                .col-sm-4
                  .form__item.form-group
                    .select
                      select.select__input
                        option(value='', data-select2-id='4')
                        optgroup(label='Отрасли', data-select2-id='10')
                          option(value='22', data-select2-id='11') Безопасность
                          option(value='23', data-select2-id='12') ЖКХ
                          option(value='24', data-select2-id='13') Здравоохранение
                          option(value='25', data-select2-id='14') Игры
                          option(value='26', data-select2-id='15') Информационные технологии и киберспорт
                          option(value='27', data-select2-id='16') Медиа
                          option(value='28', data-select2-id='17') Наука
                          option(value='29', data-select2-id='18') Образование
                          option(value='30', data-select2-id='19') Промышленность
                          option(value='31', data-select2-id='20') Реклама и маркетинг
                          option(value='32', data-select2-id='21') Связь
                          option(value='33', data-select2-id='22') Сельское хозяйство
                          option(value='34', data-select2-id='23') Социально значимые проекты
                          option(value='35', data-select2-id='24') Страхование
                          option(value='36', data-select2-id='25') Строительство
                          option(value='37', data-select2-id='26') Торговля
                          option(value='38', data-select2-id='27') Транспорт и логистика
                          option(value='39', data-select2-id='28') Финансы
                          option(value='40', data-select2-id='29') Экология
                          option(value='41', data-select2-id='30') Энергетика
                        optgroup(label='Направление «Цифровой экономики»', data-select2-id='31')
                          option(value='43', data-select2-id='32') Кадры и образование
                          option(value='44', data-select2-id='33') Информационная инфраструктура
                          option(value='45', data-select2-id='34') Информационная безопасность
                          option(value='46', data-select2-id='35') Формирование исследовательских компетенций и технологических заделов
                          option(value='47', data-select2-id='36') Нормативное регулирование
                        optgroup(label='Технологии', data-select2-id='37')
                          option(value='49', data-select2-id='38') Беспилотный транспорт
                          option(value='50', data-select2-id='39') Биометрия
                          option(value='51', data-select2-id='40') Большие данные
                          option(value='52', data-select2-id='41') Виртуальная и дополненная реальность
                          option(value='53', data-select2-id='42') ГИС
                          option(value='54', data-select2-id='43') Промышленный интернет и интернет вещей
                          option(value='55', data-select2-id='44') Квантовые и тензорные технологии
                          option(value='56', data-select2-id='45') Машинное обучение и искусственный интеллект
                          option(value='57', data-select2-id='46') Мобильные технологии
                          option(value='58', data-select2-id='47') Облачные технологии
                          option(value='59', data-select2-id='48') Проводные и беспроводные сети связи
                          option(value='60', data-select2-id='49') Речевые технологии
                          option(value='61', data-select2-id='50') Робототехника и сенсорика
                          option(value='62', data-select2-id='51') Системы распределенного реестра
                    p.text-dark.form__label Отрасль
              .form__item.form-group
                input.form__input.form-control(type="text")
                p.text-dark.form__label Должность
              h3.text-dark.mt-35 Компетенции
              h4.text-muted Публикации
              .form__item.form__item--textarea.form-group.mb-0
                textarea.form__input(placeholder="Вставьте ссылки на Вашу публикацию, в одну строку одна ссылка")
              h4.mt-35.text-muted Упоминания в СМИ
              .form__item.form__item--textarea.form-group.mb-0
                textarea.form__input(placeholder="Вставьте ссылки на упоминания Вас в СМИ, в одну строку одна ссылка")
                p.text-dark.form__label 
              h4.mt-25.text-muted Награды
              .d-flex.flex-wrap
                .custom-file.custom-file--document.mr-20.mr-sm-30
                  input#formFile3.custom-file-input(type='file')
                  label.custom-file-label(for='formFile3')
                    span.text-muted Добавьте скан-копию Ваших наград
                    span.text-center.mb-0
                      a(href="#") Выбрать скан
                div
                  p.mb-10.text-muted Загруженные файлы:
                  .d-flex.align-items-center.mt-10
                    p.mb-0.mr-20 Сертификат 2.jpg
                    a.form__remove(href="#") Удалить
              h4.mt-40.text-muted Рекомендации
              .row
                .col-sm-5
                  .form__item.form-group
                    input.form__input.form-control(type="text")
                    p.text-dark.form__label ФИО доверенного лица
                .col-sm-7
                  .form__add.form__item.form-group.mb-0
                    textarea.form__add-input.form__input.form-control.pl-0
                    p.text-dark.form__label.form__label--short Вставьте сылку на аккаунт в соц. сети доверенного лица
                    button.btn.btn-primary.btn-sm.form__add-btn.px-15(type="submit") Добавить
              p.text-dark.mt-25.mt-sm-0.mb-25 В отсутствие рекомендаций от других членов сообщества или экспертов отрасли проверка и подтверждение регистрации может занять больше времени
              .bg-light.border-radius.p-25.d-flex.flex-column.flex-sm-row.align-items-center.justify-content-between
                .d-flex.flex-column.flex-sm-row.align-items-center
                  h4.mb-10.mb-sm-0.mr-sm-25 Викторов Александр Викторович
                  h4.mb-10.mb-sm-0
                    a(href="#") https://vk.com/id103085638
                a.form__remove(href="#") Удалить
              .d-flex.flex-column.flex-sm-row.justify-content-between.align-items-center.mt-30
                .pr-sm-100
                  p.text-success.mb-10 Все поля заполненны корректно
                  p.p--sm.text-dark.mb-20.mb-sm-0 Я принимаю условия
                    a.text-primary(href="#") Пользовательского соглашения
                    | и даю своё согласие на обработку моей персональной информации на условиях, определенных
                    a.text-primary(href="#") Политикой конфиденциальности
                button.btn.btn-primary(type="submit") Зарегистрироваться
            .col-lg-3.order-1.order-lg-2.d-flex
              .aside
                .aside__content
                  h2.text-dark Краткие пояснения
                  p.text-dark ИРИ осуществляет сбор и обработку статистической и аналитической информации, а также проводит анализ трендов развития интернет-зависимых отраслей экономики, как в России, так и за рубежом.
                  p.text-dark Первоначально идея о создании ИРИ была представлена в ходе Форума RIW-2014 (соорганизаторы: РАЭК, ФРИИ, МКС и РОЦИТ) и поддержана Администрацией Президента РФ в лице Вячеслава Володина.
                  .aside__comment
                    p.text-dark Поля обязательные к заполнению