extends ../templates/template.pug
block content
  .container
    .row
      .col-12
        +breadcrumbs('Новое задание', 'Назначение исполнителя')
        form.form.mb-35(action="#", method="POST", novalidate)
          h2.text-muted Выберите отрасль и уровень допуска публичного задания
          .row
            .col-lg-9.order-2.order-lg-1
              .row
                .col-sm-4
                  .form__item.form__item--required.form-group
                    .select
                      select.select__input.form-control(required)
                        option(label=" ")
                        option Энергетика
                    p.text-dark.form__label Отрасль
                    .invalid-feedback Обязательное поле
                .col-sm-4
                  .form__item.form__item--required.form-group
                    .select
                      select.select__input.form-control(required)
                        option(label=" ")
                        option Энергетика
                    p.text-dark.form__label Уровень допуска
                    .invalid-feedback Обязательное поле
              .d-flex.justify-content-sm-end.flex-column.flex-sm-row.mt-sm-60
                button.btn.btn-primary(type="submit") Опубликовать задание
            .col-lg-3.order-1.order-lg-2.d-flex
              .aside
                .aside__content
                  h2.text-dark Краткие пояснения
                  p.text-dark ИРИ осуществляет сбор и обработку статистической и аналитической информации, а также проводит анализ трендов развития интернет-зависимых отраслей экономики, как в России, так и за рубежом.
                  p.text-dark Первоначально идея о создании ИРИ была представлена в ходе Форума RIW-2014 (соорганизаторы: РАЭК, ФРИИ, МКС и РОЦИТ) и поддержана Администрацией Президента РФ в лице Вячеслава Володина.
                  .aside__comment
                    p.text-dark Поля обязательные к заполнению