extends ../templates/template.pug
block content
  .container
    .row
      .col-12
        +breadcrumbs('', 'Новое задание')
        form.form.mb-40(action="#", method="POST", novalidate)
          h2.text-muted Новая задача
          .row
            .col-lg-9.order-2.order-lg-1
              .form__item.form__item--required.form-group
                input.form__input.form-control(type="text", required)
                p.text-dark.form__label Название задачи
                .invalid-feedback Обязательное поле
              .form__item.form__item--required.form__item--textarea.form-group
                textarea.form__input.form-control(placeholder="Описание мероприятия", required)
                .invalid-feedback Обязательное поле
              .row
                .col-sm-4
                  .form__item.form-group.mb-sm-0
                    .select
                      select.select__input
                        option(selected) Исследование
                    p.text-dark.form__label.form__label--active Тип задачи
                .col-sm-4
                  .form__item.form-group.mb-sm-0
                    .select
                      select.select__input
                        option(selected) Ростовская область
                    p.text-dark.form__label.form__label--active Регион (необязательно)
                .col-sm-4.d-flex.align-items-center
                  .custom-control.custom-checkbox.mb-sm-0
                    input#customCheck1.custom-control-input(type='checkbox')
                    label.custom-control-label(for='customCheck1') Возможна оплата
              h4.mt-sm-30.mb-25 Временная ограничения
              .row
                .col-sm-6.col-md-5.col-lg-4
                  .custom-control.custom-checkbox.custom-checkbox--date
                    input#customCheck2.custom-control-input(type='checkbox' checked)
                    label.custom-control-label.d-block(for='customCheck2')
                      span.form__item.form__item--required.form-group.mb-0
                        input.form__input.form__input--calendar.form-control(type="text" required)
                        span.text-dark.form__label Дата начала
                        span.invalid-feedback Обязательное поле
                .col-sm-6.col-md-5.col-lg-4
                  .custom-control.custom-checkbox.custom-checkbox--date
                    input#customCheck3.custom-control-input(type='checkbox')
                    label.custom-control-label.d-block(for='customCheck3')
                      span.form__item.form-group.mb-0
                        input.form__input.form__input--calendar.form-control(type="text")
                        span.text-dark.form__label Дата завершения
              h4.mt-20.mb-35 Прикрепите сопутсвующие документы (не более 3)
              .row
                .col-xl-3.col-md-4
                  .custom-file.custom-file--outline
                    input#formFile1.custom-file-input(type='file')
                    label.custom-file-label(for='formFile1') Выбрать документ
                .col-xl-9.col-md-8
                  p.text-muted.mt-20.mt-sm-0 Загруженные файлы
                  .d-sm-flex.align-items-center.mb-10
                    p.mb-10.mb-sm-0.mr-sm-20 Сертификат 2.pdf
                    a.form__remove(href="#") Удалить
                  .d-sm-flex.align-items-center
                    p.mb-10.mb-sm-0.mr-sm-20 Более длинное название файла в одну строку.pdf
                    a.form__remove(href="#") Удалить
              .form__item.form-group.mt-25
                input.form__input.form__input--top.form-control(type="text")
                p.text-dark.form__label.form__label--short.form__label--short-top  Принадлежность к группе (начните вводить название группы)
              .d-flex.justify-content-end.flex-column.flex-sm-row
                button.btn.btn-primary.mr-sm-25.mb-20.mb-sm-0(type="submit") Назначить задание конкретным исполнителям
                button.btn.btn-primary(type="submit") Создать публичное задание
            .col-lg-3.order-1.order-lg-2.d-flex
              .aside
                .aside__content
                  h2.text-dark Краткие пояснения
                  p.text-dark ИРИ осуществляет сбор и обработку статистической и аналитической информации, а также проводит анализ трендов развития интернет-зависимых отраслей экономики, как в России, так и за рубежом.
                  p.text-dark Первоначально идея о создании ИРИ была представлена в ходе Форума RIW-2014 (соорганизаторы: РАЭК, ФРИИ, МКС и РОЦИТ) и поддержана Администрацией Президента РФ в лице Вячеслава Володина.
                  .aside__comment
                    p.text-dark Поля обязательные к заполнению