extends ../templates/template.pug
block content
  .container
    .row
      .col-12
        .d-md-flex.justify-content-between.pb-20.pb-lg-85
          div
            +breadcrumbs('', 'Задачи')
            .d-sm-flex.align-items-baseline.mb-25
              h2.mb-20.mb-sm-0 Задачи
              .select.select--inline.ml-sm-25
                select.select__input.select__input--list
                  option(selected) Мои задачи
            form.form.d-lg-flex(action="#", method="POST")
              .d-sm-flex
                div
                  .d-sm-flex.mb-5
                    p.p--sm.text-dark.mb-5.mb-sm-0.mr-35 Тип:
                    .d-flex.flex-wrap.flex-sm-nowrap.mr-40
                      +tag('Разработка', 'id12', 'tag--checkbox')
                      +tag('Исследования', 'id13', 'tag--checkbox')
                      +tag('Соц. опрос', 'id14', 'tag--checkbox')(class="tag--gray")
                  .d-sm-flex
                    p.p--sm.text-dark.mb-5.mb-sm-0.mr-20 Статус:
                    .d-flex.flex-wrap.flex-sm-nowrap.mr-40
                      +tag('Завершенные', 'id15', 'tag--checkbox')
                      +tag('Выпролняются', 'id16', 'tag--checkbox')
                      +tag('Новые', 'id17', 'tag--checkbox')(class="tag--gray")
              .form__item.form__item--static.form-group.mb-0.mt-20.mt-lg-0
                p.text-dark.form__label Начало выполнения задачи
                input.form__input.form-control.form__input--calendar(type="text")
          .d-flex
            .d-flex.flex-column.align-items-end.justify-content-between.pt-40.flex-grow-1.flex-sm-grow-0
              a.btn.btn-primary.btn-sm.mb-10.mb-md-0.w-100.w-sm-auto(href="#") Создать задание
              +search('Искать задание')
        .row
          .col-lg-6
            +task('Завершено', 'Возможна оплата', 'Провести исследование в области интернета вещей еще строка к заголовку', 'task--ended')
          .col-lg-6
            +task('Новое', '', 'Провести исследование в области интернета вещей еще строка к заголовку')(class="task--new task--blue")
          .col-lg-6
            +task('Новое', '', 'Провести исследование в области интернета вещей еще строка к заголовку', 'task--ended')(class="task--new task--blue")
          .col-lg-6
            +task('Выполняется', '', 'Провести исследование', 'task--ongoing')(class="task--oingoing")
          .col-lg-6
            +task('Завершено', 'Возможна оплата', 'Провести исследование в области интернета вещей еще строка к заголовку', 'task--ended')
          .col-lg-6
            +task('Новое', '', 'Провести исследование в области интернета вещей еще строка к заголовку')(class="task--new task--blue")
        +pagination