extends ../templates/template.pug
block content
  .container
    .row
      .col-12
        +breadcrumbs('Новое задание', 'Назначение исполнителя')
        form.form.mb-35(action="#", method="POST")
          h2.text-muted.mb-45 Назначьте исполнителей и/или группу на Вашу задачу
          .row
            .col-lg-9.order-2.order-lg-1
              .row
                .col-sm-4
                  .custom-control.custom-checkbox
                    input#customCheck1.custom-control-input(type='checkbox')
                    label.custom-control-label(for='customCheck1') Эксперты
                .col-sm-4
                  .custom-control.custom-checkbox
                    input#customCheck2.custom-control-input(type='checkbox')
                    label.custom-control-label(for='customCheck2') Экспертные группы
              .form__item.form-group
                input.form__input.form-control(type="text")
                p.text-dark.form__label ФИО Эксперта
              .d-flex.justify-content-end
                button.btn.btn-primary(type="submit") Найти исполнителя
            .col-lg-3.order-1.order-lg-2.d-flex
              .aside
                .aside__content
                  h2.text-dark Краткие пояснения
                  p.text-dark ИРИ осуществляет сбор и обработку статистической и аналитической информации, а также проводит анализ трендов развития интернет-зависимых отраслей экономики, как в России, так и за рубежом.
                  p.text-dark Первоначально идея о создании ИРИ была представлена в ходе Форума RIW-2014 (соорганизаторы: РАЭК, ФРИИ, МКС и РОЦИТ) и поддержана Администрацией Президента РФ в лице Вячеслава Володина.
                  .aside__comment 
                    p.text-dark Поля обязательные к заполнению
  .bg-light.pt-35
    .container
      .row
        .col-12
          h3.text-dark Результаты поиска
            span.text-primary 2
      .row
        .col-lg-2.col-md-4.col-6.d-flex.justify-content-center
          +participant('participant-1.jpg', 'Вадим Вартанов', 'ФГБУ «Всероссийский центр глазной и пластической хирургии»', 'Ведущий инженер-программист', 'Пригласить', 'participant--extended participant--invitable')
        .col-lg-2.col-md-4.col-6.d-flex.justify-content-center
          +participant('participant-2.jpg', 'Вадим Мухаметдинов', 'ФГБУ «Всероссийский центр глазной и пластической хирургии»', 'Ведущий инженер-программист', 'Приглашен', 'participant--extended participant--invitable')(class="participant--invited")
          