extends ../templates/template.pug
block content
  .container
    .row
      .col-12
        +breadcrumbs('Задачи', 'Провести исследование в области интернета вещей еще строка к заголовку')
    .article
      .row
        .col-lg-7.order-2.order-lg-1
          h2 Провести исследование в области интернета вещей еще строка к заголовку
          p Выберите исполнителя или рабочую группу на Ваше задание, для этого выберите пункт из списка и введите данные, после активируйте поиск и из предложенных вариантов выберите одного исполнителя или группу (текст очень примерный, прошу не пинать)
          p Выберите исполнителя или рабочую группу на Ваше задание, для этого выберите пункт из списка и введите данные, после активируйте поиск и из предложенных вариантов выберите одного исполнителя или группу (текст очень примерный, прошу не пинать)
          .d-flex.flex-column.flex-sm-row.align-items-sm-center.mb-15
            p.mb-0 Сертификат 2.pdf
            p.mb-0.ml-sm-5.mr-sm-10.my-10.my-sm-0.text-dark (2 mb)
            p.mb-0
              a(href="#") Скачать
          .d-flex.flex-column.flex-sm-row.align-items-sm-center
            p.mb-0 Более длинное название файла в одну строку.pdf
            p.mb-0.ml-sm-5.mr-sm-10.my-10.my-sm-0.text-dark (2 mb)
            p.mb-0
              a(href="#") Скачать
          a.btn.btn-primary.mt-50.mb-40(href="#") Откликнуться на задание
        .col-xl-3.offset-xl-2.col-lg-4.offset-lg-1.order-1.order-lg-2.d-lg-flex.align-items-start.justify-content-end
          .article__info
            +tag('Исследование', '')(class="tag--gray")
            .region.mt-10.mb-25 Ростовская обл.
            .article__info-price
              .article__info-price-content 250 000 Р
              p.p--sm.text-dark.mb-0 за задание
            .article__info-dates.mt-25
              div
                .d-flex.mb-5
                  p.p--sm.text-dark.mb-0.mr-5 Начало:
                  p.p--sm.text-primary.mb-0 14.05.2018
                .d-flex
                  p.p--sm.text-dark.mb-0.mr-5 Начало:
                  p.p--sm.text-primary.mb-0 14.10.2018
            .d-flex.mt-10
              p.p--sm.text-dark.mb-0.mr-5 Автор:
              p.p--sm.text-primary.mb-0 Виктор Александров
  .bg-light.pt-35
    .container
      .row
        .col-12
          h3.text-dark Отклики
            span.text-primary.ml-10 2
          +response('Готов учавствовать в данном проекте')
          +response('Выберите исполнителя или рабочую группу на Ваше задание, для этого выберите пункт из списка и введите данные, после активируйте поиск и из предложенных вариантов выберите одного исполнителя или группу (текст очень примерный, прошу не пинать)')