.user {
  position: relative;
  flex-shrink: 0;
  margin-left: 20px;
  max-width: 250px;
  z-index: 1;

  &__header {
    display: flex;
    align-items: center;
    color: $gray-600;
  }

  &__photo {
    width: 38px;
    height: 38px;
    flex: 0 0 auto;
    border-radius: 5px;
    background-size: cover;
    background-position: center;
  }

  &__content {
    display: flex;
    align-items: center;
    margin-left: 22px;
    min-width: 1px;

    @include media-breakpoint-down(sm) {
      display: none;
    }

    p {
      min-width: 1px;
    }
  }

  &__number {
    margin-left: 12px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #E49B9B;
    color: #fff;
    text-align: center;
    line-height: 15px;
    font-size: 10px;
    flex-shrink: 0;
  }

  &__links-list {
    display: none;

    &--opened {
      display: flex;
      flex-direction: column;
      position: absolute;
      left: 0;
      top: 100%;
      margin-top: 3px;
      background: #fff;
      padding: 17px 40px 17px 17px;
      box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.25);

      @include media-breakpoint-down(sm) {
        left: auto;
        right: 0;
      }

      &:before {
        content: '';
        display: block;
        width: 12px;
        height: 12px;
        background: #fff;
        transform: rotate(45deg);
        position: absolute;
        left: 12px;
        top: -7px;

        @include media-breakpoint-down(sm) {
          left: auto;
          right: 12px;
        }
      }
    }
  }

  &__link {
    font-size: 14px;
    color: $dark;
    display: flex;
    align-items: center;

    &:before {
      content: '';
      display: block;
      width: 19px;
      height: 21px;
      margin-right: 14px;
    }

    &+& {
      margin-top: 14px;
    }

    &--notifications {

      &:before {
        background: url(../img/notifications.svg) no-repeat center;
        background-size: contain;
      }
    }

    &--profile {

      &:before {
        background: url(../img/profile.svg) no-repeat center;
        background-size: contain;
      }
    }

    &--editing {

      &:before {
        background: url(../img/settings.svg) no-repeat center;
        background-size: contain;
      }
    }

    &--exit {

      &:before {
        background: url(../img/exit.svg) no-repeat center;
        background-size: contain;
      }
    }
  }
}