mixin user(modifier)
  .user&attributes(attributes)
    a.user__header(href="#")
      .user__photo(style="background-image: url(./img/userpic.jpg);")
      .user__content
        p.mb-0 Александр Викторов
        .user__number 3
    .user__links-list
      a.user__link.user__link--notifications(href="#") Уведомления
      a.user__link.user__link--profile(href="#") Мой профиль
      a.user__link.user__link--editing(href="#") Редактирование
      a.user__link.user__link--exit(href="#") Выйти