.region {
  display: flex;
  align-items: baseline;
  font-size: 12px;
  color: $gray-600;
  
  &:before {
    content: '';
    display: block;
    width: 7px;
    height: 11px;
    background: url(../img/marker.svg) no-repeat;
    background-size: contain;
    margin-right: 13px;
  }
}
