.event {
  height: calc(100% - 27px);
  margin-bottom: 27px;
  border: 1px solid #D5E2F3;
  border-radius: 5px;
  display: flex;
  flex-direction: column;

  &__picture {
    display: block;
    height: 159px;
    flex: 0 0 auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  &__content {
    padding: 22px 24px 24px;
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;

    @include media-breakpoint-down(sm) {
      padding: 15px;
    }

    &-top {
      flex: 1 0 auto;
    }

    &-bottom {
      flex: 0 0 auto;
    }
  }

  &__title {
    display: block;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 14px;
    color: #000;

    @include media-breakpoint-down(sm) {
      font-size: 18px;
      line-height: 22px;
    }
  }

  &__excerpt {
    line-height: 17px;
  }

  .text-primary {
    margin: 0;
  }

  .region {
    margin-top: 10px;
  }
}
