mixin event(picture, title, modifier)
  .event&attributes(attributes)
    a.event__picture(href="#", style="background-image: url(./img/" + picture + ");")
    .event__content
      .event__content-top
        h3.mb-15.event__title= title
        p.mb-20.text-muted.event__excerpt ИРИ осуществляет сбор и обработку статистической и аналитической информации, а также проводит анализ трендов ...
      .event__content-bottom
        p.p--sm.text-primary Мероприятие ИРИ
        .d-flex
          p.p--sm.text-dark.mb-0 Даты проведения: 
          p.p--sm.text-primary  14.10.2018 - 20.10.2018
        .region Москва, Экспоцентр