.logo {
  display: block;
  width: 113px;
  height: 34px;
  background: url(../img/logo.svg) no-repeat center;
  background-size: contain;
  flex-shrink: 0;

  &--gray {
    width: 176px;
    height: 40px;
    background: url(../img/logo--gray.svg) no-repeat center;
    background-size: contain;
    opacity: .6;
  }
}
