mixin front(modifier)
  .front&attributes(attributes)
    .container
      .row
        .col-lg-7
          .front__header
            a.front__logo(href="#")
            .front__about
              div
                h2.mb-0.font-weight-bold.text-uppercase.text-white Краудсорсинговая <br>платформа
                p.mb-0.text-white взаимодействия с интернет-аудиторией <br>на базе экспертного сообщества ИРИ
          h2.text-uppercase.text-white КРАУДСОРСИНГОВАЯ ПЛАТФОРМА <br>ВЗАИМОДЕЙСТВИЯ С ИНТЕРНЕТ АУДИТОРИЕЙ <br>НА БАЗЕ ЭКСПЕРТНОГО СООБЩЕСТВА ИРИ
          .row
            .col-lg-9
              p.front__dscr.mb-45.text-white Краудсорсинговая платформа взаимодействия с интернет аудиторией на базе экспертного сообщества ИРИ объединяет знания и опыт экспертов ИРИ для решения задач, стоящих перед интернет-индустрией и интернетзависимыми отраслями экономики РФ.
              a.btn.btn-primary.bg-white.text-primary.front__btn(href="#") Зарегистрироваться на платформе