.front {
  background-color: $primary;

  .container {
    padding-top: 60px;
    padding-bottom: 105px;
    background: url(../img/front-bg.svg) no-repeat right bottom;

    @include media-breakpoint-down(lg) {
      background-size: 80% auto;
    }

    @include media-breakpoint-down(md) {
      padding-top: 40px;
      padding-bottom: 80px;
      background-size: 60% auto;
    }

    @include media-breakpoint-down(xs) {
      background: none;
      padding-bottom: 50px;
    }
  }

  &__header {
    display: flex;
    margin-bottom: 52px;

    @include media-breakpoint-down(md) {
      margin-bottom: 30px;
    }

    @include media-breakpoint-down(xs) {
      flex-direction: column;
      margin-bottom: 20px;
    }
  }

  &__logo {
    display: block;
    width: 127px;
    height: 83px;
    margin-top: 7px;
    margin-right: 43px;
    flex-shrink: 0;
    background: url(../img/logo--white.svg) no-repeat center;
    background-size: contain;
    text-decoration: none;

    @include media-breakpoint-down(xs) {
      margin: 0 auto 20px;
    }
  }

  &__about {
    position: relative;
    padding-left: 50px;
    min-width: 1px;

    @include media-breakpoint-down(xs) {
      padding-left: 34px;
    }

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 3px;
      width: 40px;
      height: 39px;
      background: url(../img/square-icon.svg) no-repeat center;
      background-size: contain;

      @include media-breakpoint-down(xs) {
        width: 26px;
        height: 25px;
      }
    }
  }

  h2 {

    @include media-breakpoint-down(xs) {
      font-size: 26px;
    }
  }
}
