mixin comment(content, modifier)
  .comment&attributes(attributes)
    .comment__container
      .comment__wrapper
        .comment__header
          .comment__info
            .comment__userpic(style="background-image: url(./img/userpic.jpg);")
            span.comment__name Вартанов Вадим
            span.comment__date 14/10/18 в 14:30
          .comment__voting
            a.comment__vote-btn.comment__vote-btn--downvote(href="#") -
            .comment__vote-number 5
            a.comment__vote-btn.comment__vote-btn--upvote(href="#") +
        p.comment__content!= content
        if modifier == 'comment--file'
          a.comment__link.mb-15(href="#") Сертификат 2.pdf
        a.comment__link(href="#") Ответить
    if block
      block