.comment {
  margin-bottom: 33px;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include media-breakpoint-down(sm) {
      align-items: flex-start;
    }
  }

  &__info {
    display: flex;
    align-items: center;

    @include media-breakpoint-down(sm) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__userpic {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    flex-shrink: 0;
    margin-right: 20px;
    background-size: cover;
    background-position: center;
  }

  &__name {
    font-size: 18px;
    color: #000;
    font-weight: 400;
    margin-right: 20px;

    @include media-breakpoint-down(sm) {
      margin: 10px 0;
    }
  }

  &__date {
    font-size: 10px;
    color: #787878;
    align-items: baseline;
  }

  &__voting {
    display: flex;
    align-items: center;
  }

  &__vote-number {
    font-size: 12px;
    color: #93D0A8;
    margin: 0 7px;
  }

  &__vote-btn {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    color: #000;
    display: flex;
    justify-content: center;
    line-height: 15px;
    font-size: 13px;

    &--downvote {
      background: #EBB1B1;
    }

    &--upvote {
      background: #93D0A8;
    }
  }

  &__content {
    font-size: 14px;
    line-height: 21px;
    color: #000;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  &__link {
    font-size: 14px;
    color: #3D62B2;
    display: block;
  }

  &--unpopular {
    
    & > .comment__container {

      .comment__vote-number {
        color: #C65A5A;
      }

      .comment__content {
        color: #D3D3D5;
      }
    }
  }

  &--answer {
    margin-top: 33px;
    
    .comment--answer {
      margin-left: 50px;

      @include media-breakpoint-down(sm) {
        margin-left: 10px;
      }
    }
    
    .comment__container {
      display: flex;

      @include media-breakpoint-down(sm) {
        flex-direction: column;
      }

      &:before {
        content: '';
        display: block;
        width: 30px;
        height: 30px;
        border-left: 1px solid #D3D3D5;
        border-bottom: 1px solid #D3D3D5;
        margin-right: 20px;
        flex-shrink: 0;
        margin-top: -13px;

        @include media-breakpoint-down(sm) {
          border-bottom: 0;
          margin-left: 16px;
          margin-bottom: 20px;
        }
      }
    }
  }
}