.aside {

  &__content {
    position: sticky;
    top: 90px;

    @include media-breakpoint-down(md) {
      position: relative;
      top: 0;
    }
  }

  h2 {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 22px;
  }

  p {
    line-height: 17px;
  }

  &__comment {
    position: relative;
    padding-left: 27px;
    max-width: 165px;

    @include media-breakpoint-down(md) {
      max-width: 100%;
    }

    @include media-breakpoint-down(xs) {
      padding-left: 20px;
    }

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 6px;
      width: 7px;
      height: 7px;
      border-radius: 50%;
      background-color: #41C8F5;
    }
  }
}
