.response {
  display: flex;
  max-width: 750px;
  width: 100%;
  margin: 0 0 65px;

  @include media-breakpoint-down(sm) {
    margin: 0 0 35px;
  }

  &__photo {
    width: 62px;
    height: 62px;
    flex: 0 0 auto;
    margin-right: 19px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @include media-breakpoint-down(xs) {
      margin-right: 13px;
    }
  }

  &__content {
    min-width: 1px;

    p {
      line-height: 17px;
      margin: 0 0 30px;

      @include media-breakpoint-down(xs) {
        margin: 0 0 20px;
      }
    }
  }

  &__name {
    margin: 0 0 13px;
    font-size: 24px;
    line-height: 29px;
    color: #053A7B;

    @include media-breakpoint-down(xs) {
      font-size: 20px;
      line-height: 25px;
    }
  }

  .btn {
    border-color: #053A7B;
    padding: 7px 20px;

    @include media-breakpoint-down(xs) {
      padding: 6px 12px;
    }
  }
}
