mixin response(text, modifier)
  .response&attributes(attributes)
    .response__photo(style="background-image: url(./img/response.jpg);")
    .response__content
      h3.response__name
        a(href="#") Вадим Вартанов
      p.text-muted= text
      a.btn.btn-outline-primary(href="#") Назначить исполнителем