mixin menu(modifier)
  .menu&attributes(attributes)
    a.menu__btn(href="#")
    .menu__content
      a.menu__link.menu__link--active(href="#") Экспертные группы
      a.menu__link(href="#") Мероприятия
      a.menu__link(href="#") Задачи
      a.menu__link(href="#") Опросы
      a.menu__link(href="#") Контакты
      .menu__mobile
        a.menu__link(href="#") Войти
        a.menu__link(href="#") Регистрация