.menu {
  min-width: 1px;

  &__btn {
    display: none;

    @include media-breakpoint-down(md) {
      display: block;
      width: 38px;
      height: 38px;
      background: url(../img/menu.svg) no-repeat center;
      background-size: 60%;
    }

    &--opened {

      @include media-breakpoint-down(md) {
        background: url(../img/close.svg) no-repeat center;
        background-size: 60%;
        position: relative;
        z-index: 2;
      }
    }
  }

  &__content {
    display: flex;
    flex-wrap: wrap;

    @include media-breakpoint-down(md) {
      display: none;
    }

    &--opened {

      @include media-breakpoint-down(md) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: #fff;
        z-index: 1;
        overflow: auto;
      }
    }
  }

  &__link {
    font-size: 14px;
    color: $gray-600;
    border-bottom: 2px solid transparent;
    margin: 0 10px;

    &--active {
      border-color: $primary;
    }

    @include media-breakpoint-down(md) {
      font-size: 20px;
      margin: 10px 0;
    }
  }

  &__mobile {
    display: none;

    @include media-breakpoint-down(md) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}
