.actions {
  padding-right: 15px;
  padding-top: 25px;
  position: relative;
  
  &__wrapper {
    max-height: 620px;
    width: 100%;
    flex-shrink: 0;
//    max-width: calc(100% - 15px);
  }
  
  &__row {
    display: flex;
    width: 100%;
    
    &:nth-child(2n) {
      background: #f3f3f3;
    }
    
    &--header {
      
      .actions__cell {
        min-height: 80px;
        align-items: flex-start;
        padding-top: 10px;
        text-align: center;
        
        &--header {
          font-weight: 700;
          color: #5b5b5b;
          padding-left: 0;
        }
      }
    }
  }
  
  &__cell {
    flex: 1 0 115px;
    font-size: 14px;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 45px;
    padding-left: 10px;
    padding-right: 10px;
    
    &+& {
      border-left: 1px solid #C4C4C4;
    }
    
    &--header {
      flex-basis: 36.2%;
      padding: 0 15px;
      flex-grow: 0;
      justify-content: flex-start;
    }
    
    &--role {
      padding-left: 20px;
      padding-right: 0;
    }
    
    &--inactive {
      position: relative;
      
      &:before {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(233, 233, 233, 0.8);
        z-index: 1;
      }
    }
    
    &--single {
      justify-content: flex-start;
      padding-left: 45px;
    }
  }
  
  &__role-name {
    padding: 0 20px;
    display: flex;
    align-items: center;
    width: 100%;
    border: 1px solid #E5E5E5;
    border-radius: 5px;
  }
  
  &__role-name-label {
    font-size: 12px;
    color: #909090;
    margin-right: 30px;
    flex-shrink: 0;
  }
  
  &__role-name-input {
    height: 50px;
    border: 0;
    font-size: 16px;
    color: #5b5b5b;
    font-weight: 500;
    flex-grow: 1;
    width: 100%;
    
    @include placeholder(#5b5b5b);
  }
}