mixin actions(modifier)
  .actions&attributes(attributes)
    .actions__wrapper
      .actions__row.actions__row--header
        .actions__cell.actions__cell--header Список доступных действий

        //Заголовки столбцов

        .actions__cell#roleProducer Продюсер
        .actions__cell#roleModerator Модератор
        .actions__cell#roleChief Руководитель проекта
        .actions__cell#roleExpert Эксперт
        .actions__cell#roleLeadExpert Ведущий эксперт
        .actions__cell#roleCounselor Член Экспертного совета

        // Ниже поле для нового названия роли. Заменяет собой заголовки выше.

        //.actions__cell.actions__cell--role
          .actions__role-name
            .actions__role-name-label Введите название роли
            input.actions__role-name-input(type="text", placeholder="Новое название роли")
      each val, index in ['Комментарии к рабочим группам', 'Подача заявок в открытые группы', 'Подача заявок в закрытые группы', 'Одобрение заявок экспертов на вступление в группу', 'Отклонение заявок экспертов на вступление в группу', 'Создание задач', 'Создание проектов', 'Создание раб. Групп', 'Подача заявок в закрытые группы', 'Одобрение заявок экспертов на вступление в группу', 'Отклонение заявок экспертов на вступление в группу', 'Создание задач', 'Подача заявок в открытые группы', 'Подача заявок в закрытые группы', 'Одобрение заявок экспертов на вступление в группу', 'Отклонение заявок экспертов на вступление в группу', 'Создание задач', 'Создание проектов', 'Создание раб. Групп', 'Подача заявок в закрытые группы', 'Одобрение заявок экспертов на вступление в группу', 'Отклонение заявок экспертов на вступление в группу', 'Создание задач']
        .actions__row
          .actions__cell.actions__cell--header= val

          // Вариант со всеми столбцами.

          - for (var i = 0; i < 6; ++i)
            if i == 3
              .actions__cell.actions__cell--column
                if index%2 == 0
                  .custom-control.custom-checkbox.custom-checkbox--single
                    input.custom-control-input(type='checkbox', id="actionCheck" + index + i, checked)
                    label.custom-control-label(for='actionCheck' + index + i)
                else
                  |-
            else
              .actions__cell
                .custom-control.custom-checkbox.custom-checkbox--single
                  input.custom-control-input(type='checkbox', id="actionCheck" + index + i, checked)
                  label.custom-control-label(for='actionCheck' + index + i)

          // Режим создания роли (один столбец).

          //.actions__cell.actions__cell--single
            .custom-control.custom-checkbox.custom-checkbox--single
              input.custom-control-input(type='checkbox', id="actionCheck" + index + i, checked)
              label.custom-control-label(for='actionCheck' + index + i)