.select {
  width: 100%;
  position: relative;
  z-index: 3;
  
  &--inline {
    width: auto;
    
    .select2 {

      @include media-breakpoint-down(sm) {
        width: auto!important;
      }
    }
  }
  
  &--primary {
    
    .select2-selection__arrow {
      background: url(../img/arrow--down-branded.svg) no-repeat center!important;
      background-size: contain;
      margin-right: 10px;
    }
  }
  
  &--disabled {
    
    .select2 .select2-selection .select2-selection__rendered {
      color: #ababab;
      
      &:before {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background: #d2d2d2;
        z-index: -1;
      }
    }
    
    .select2-selection__arrow {
      filter: grayscale(100%);
    }
    
    & + .form__label {
      z-index: 3;
      top: 10px;
      left: 15px;
      font-size: 12px;
      color: #ababab!important;
    }
  }
}
