mixin header(modifier)
  .header&attributes(attributes)
    .container
      .row
        .col-12
          .header__content
            .header__left
              +logo(class="header__logo mr-sm-20 mr-xl-50")
              +menu
            //+user
            .header__right
              a.btn.btn-outline-primary.btn-sm.mr-15(href="#") Войти
              a.btn.btn-primary.btn-sm(href="#") Регистрация