.header {
  position: fixed;
  width: 100%;
  background: #fff;
  z-index: 4;

  &__content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 22px 0;
    border-bottom: 1px solid #e5e5e5;
  }

  &__left {
    display: flex;
    min-width: 1px;
    align-items: center;

    @include media-breakpoint-down(sm) {
      width: 100%;
      justify-content: space-between;
    }
  }

  &__logo {
    position: relative;
    z-index: 2;
  }

  &__right {
    display: flex;
    align-items: center;

    @include media-breakpoint-down(md) {
      display: none;
    }
  }
  
  &--no-logo {
    
    .logo {
      display: none;

      @include media-breakpoint-down(md) {
        display: block;
      }
    }
    
    .menu {
      margin-left: -10px;
    }
  }
}
