.form {
  position: relative;
  z-index: 1;

  &__remove {
    color: $gray-600;
    font-size: 12px;
    font-weight: 500;
    display: flex;
    align-items: center;

    &:before {
      content: '';
      display: block;
      width: 11px;
      height: 11px;
      margin-right: 8px;
      background: url(../img/remove.svg) no-repeat;
      background-size: contain;
    }
  }

  &__item {
    height: 70px;
    width: 100%;
    border: 1px solid #E5E5E5;
    border-radius: 5px;
    display: flex;
    align-items: flex-end;
    position: relative;

    &--required {

      &:after {
        content: '';
        display: block;
        width: 7px;
        height: 7px;
        position: absolute;
        right: 15px;
        top: 15px;
        background: $secondary;
        border-radius: 50%;
      }
    }

    &--textarea {
      height: 225px;
      resize: none;

      .form__input {
        resize: none;
        height: 100%;
        font-size: 14px;
        padding: 20px 23px;
        color: $gray-600;
        @include placeholder($dark);
      }
    }

    &--static {
      border: 0;
      display: block;
      height: auto;
      flex-grow: 0;
      max-width: 237px;

      @include media-breakpoint-down(sm) {
        max-width: none;
      }

      .form__label {
        position: static;
        font-size: 12px;
        margin-bottom: 9px;
      }

      .form__input {
        border: 1px solid #e5e5e5;
        height: 37px;
        width: 225px;
        padding: 0 15px;
      }
    }

    &--invalid {
      border-color: $danger;

      .invalid-feedback {
        display: block;
      }
    }
  }

  &__input {
    padding: 20px 15px 0;
    width: 100%;
    height: 100%;
    border: 0;
    position: relative;
    z-index: 2;
    background: transparent;
    font-size: 16px;
    color: $gray-600;

    &:focus, &--active {
      outline: none;
      box-shadow: none;
      background: transparent;
      @include placeholder(transparent);

      & ~ .form__label {
        top: 10px;
        left: 15px;
        font-size: 12px;

        &--short {
          display: none;
        }
      }
    }

    &--calendar {
      background: url(../img/calendar.svg) right 20px center no-repeat;

      &:focus {
        background: transparent url(../img/calendar.svg) right 20px center no-repeat;
      }
    }

    &--top {

      @include media-breakpoint-down(sm) {
        padding-top: 0;
      }
    }
  }

  &__label {
    position: absolute;
    color: $dark;
    font-size: 14px;
    left: 23px;
    top: 23px;
    right: 10px;
    padding-right: 20px;
    z-index: 1;
    white-space: nowrap;
    overflow: hidden;
    max-width: 100%;
    text-overflow: ellipsis;
    @include transition;

    &--active {
      top: 10px;
      left: 15px;
      font-size: 12px;
      transition: none;
    }

    &--short {
      max-width: 60%;
      top: 50%;
      transform: translateY(-50%);

      @include media-breakpoint-down(sm) {
        top: 23px;
        transform: none;
        max-width: none;
      }
    }

    &--short-top {

      @include media-breakpoint-down(sm) {
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }

  &__add {
    display: flex;
    padding: 10px 20px;
    background: #fff;
    border: 1px solid #d3d3d5;
    border-radius: 5px;

    @include media-breakpoint-down(sm) {
      flex-direction: column;
      height: auto;
    }
  }

  &__add-input {
    flex-grow: 1;
    margin-right: 20px;
    border: 0;
    resize: none;

    @include media-breakpoint-down(sm) {
      min-height: 200px;
      margin-right: 0;
      margin-bottom: 10px;
    }
  }

  &__add-btn {
    align-self: center;
    margin: 15px 0;

    @include media-breakpoint-down(sm) {
      margin: 0;
    }
  }

  &__userpic {
    width: 140px;
    height: 140px;
    background: #f2f2f2 url(../img/anonim.svg) no-repeat center;
    border-radius: 5px;
    margin-right: 30px;

    @include media-breakpoint-down(sm) {
      margin-bottom: 20px;
    }
    @include media-breakpoint-down(xs) {
      margin-right: 0;
    }
  }

  &__addition {
    display: flex;
  }

  &__addition-item {
    border-radius: 5px 0 0 5px;
  }

  &__addition-btn {
    width: 67px;
    background: $primary url(../img/plus.svg) no-repeat center;
    display: block;
    border-radius: 0 5px 5px 0;
    flex-shrink: 0;
  }

  &__comment {
    color: $dark;
    font-size: 13px;
    display: flex;
    align-items: center;

    &::before {
      content: '';
      display: block;
      width: 7px;
      height: 7px;
      margin-right: 15px;
      border-radius: 50%;
      background-color: $primary;
      margin-top: 1px;
    }
  }

  &__pictures-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -6px;
  }

  &__picture {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 6px 20px;
  }

  &__picture-content {
    width: 108px;
    height: 108px;
    background-size: cover;
    background-position: center;
    margin-bottom: 14px;
  }
}
