mixin why(modifier)
  .why&attributes(attributes)
    .container
      .row
        .col-12
          .why__content
            img.img-fluid.why__picture.mb-30(src="img/why-1.svg", alt="Picture")
            .mx-xl-60.mx-lg-40.mx-md-30.my-30.my-md-0.text-center.text-md-left
              h2.text-primary.mb-xl-30 Зачем мне это нужно?
              p Участвуя в работе краудсорсинговой платформы взаимодействия с интернет аудиторией на базе экспертного сообщества ИРИ, Вы создаете собственную историю успеха, фиксируя развитие своих компетенций как эксперта ИРИ.
            img.mx-auto.mt-0.mt-lg-50.align-self-end.img-fluid.why__picture(src="img/why-2.svg", alt="Picture")