.why {
  padding-top: 90px;

  @include media-breakpoint-down(md) {
    padding-top: 50px;
  }

  @include media-breakpoint-down(sm) {
    padding-top: 40px;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    @include media-breakpoint-down(sm) {
      flex-direction: column;
      align-items: center;
    }

    p {
      font-size: 18px;
      line-height: 28px;
    }
  }

  &__picture {
    flex-shrink: 0;
    max-width: 300px;

    @include media-breakpoint-down(lg) {
      max-width: 300px;
    }

    @include media-breakpoint-down(md) {
      max-width: 200px;
    }
  }
}
